Repository mdekrey/GameDocumentEngine: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

lefthook.yml:

# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: true
  commands:
    eslint:
      root: "GameDocumentEngine.Ui/"
      glob: "*.{cjs,mjs,js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files} && npx prettier --write {staged_files} && git add {staged_files}
    prettier:
      root: "GameDocumentEngine.Ui/"
      glob: "*.json"
      run: npx prettier --write {staged_files} && git add {staged_files}
    typecheck:
      root: "GameDocumentEngine.Ui/"
      glob: "src/*.{ts,tsx}"
      run: npm run typecheck

Improve automatic change submission
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/conflict-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ReadyWatcher.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ReviewRevealed.tsx
  GameDocumentEngine.Ui/src/documents/useSubmitOnChange.tsx
  GameDocumentEngine.Ui/src/utils/form/toInternalFieldAtom.ts
Due: eslint

Move TODO note
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  schemas/api.yaml
Due: eslint

Improve types
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
Due: eslint

Remove unnecessary TODO's
  GameDocumentEngine.Ui/src/utils/form/toInternalFieldAtom.ts
Due: eslint

Add screen-reader numeric fields
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/pass-fail.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/traits.tsx
Due: eslint

Add environment url
  Dockerfile
  GameDocumentEngine.Server/Api/BuildOptions.cs
  GameDocumentEngine.Server/Api/EnvController.cs
  GameDocumentEngine.Server/Program.cs
  schemas/api.yaml
Due: none

Add TS api calls
  GameDocumentEngine.Ui/src/utils/api/queries/environment.ts
  GameDocumentEngine.Ui/src/utils/api/queries/index.ts
Due: eslint

Check server version upon reconnecting SignalR
  Dockerfile
  GameDocumentEngine.Server/Realtime/GameDocumentsHub.cs
  GameDocumentEngine.Ui/src/vtt-sw.ts
Due: eslint

Adjust a TODO message
  GameDocumentEngine.Server/Documents/DocumentModelChangeNotifications.cs
Due: none

Update eslint rules
  GameDocumentEngine.Ui/.eslintrc.cjs
  GameDocumentEngine.Ui/scripts/vite-plugin-dev-manifest.ts
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/game-danger-zone.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-edit/game-edit.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-settings.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-field.tsx
  GameDocumentEngine.Ui/src/documents/clock/clock-edit.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
  GameDocumentEngine.Ui/src/documents/get-document-pointers.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-character/character-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/ability-layout.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/conflict-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/CardSelect.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ManageSide.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ReadyWatcher.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ReviewRevealed.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/SideSummary.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/general-display.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/organizer-form.tsx
  GameDocumentEngine.Ui/src/documents/toReadOnlyFields.tsx
  GameDocumentEngine.Ui/src/documents/useSubmitOnChange.tsx
  GameDocumentEngine.Ui/src/utils/api/handleEntityChanged.tsx
  GameDocumentEngine.Ui/src/utils/api/realtime-api.ts
  GameDocumentEngine.Ui/src/utils/api/realtime.signalr.ts
  GameDocumentEngine.Ui/src/utils/form/field-config-types.ts
  GameDocumentEngine.Ui/src/utils/form/fieldStateTracking.ts
  GameDocumentEngine.Ui/src/utils/form/toInternalFieldAtom.ts
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
  GameDocumentEngine.Ui/src/utils/security/match-permission.ts
  GameDocumentEngine.Ui/src/utils/useResizeDetector.ts
  GameDocumentEngine.Ui/src/vtt-sw.ts
Due: eslint

Close sidebars on navigate
  GameDocumentEngine.Ui/src/components/layout/layout.tsx
Due: eslint

Add TODO notes
  GameDocumentEngine.Ui/src/apps/create-game/create-game.tsx
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
Due: eslint

Move from game type classes to json
  GameDocumentEngine.Server/Documents/GameSecurity.cs
  GameDocumentEngine.Server/GameDocumentEngine.Server.csproj
  GameDocumentEngine.Server/GameTypes/Clocks/ClocksGameType.cs
  GameDocumentEngine.Server/GameTypes/Clocks/game-type.json
  GameDocumentEngine.Server/GameTypes/JsonGameType.cs
  GameDocumentEngine.Server/GameTypes/MouseGuard/MouseGuardGameType.cs
  GameDocumentEngine.Server/GameTypes/MouseGuard/game-type.json
  GameDocumentEngine.Server/Program.cs
  future-notes.md
Due: none

Add note about i18n async support
  future-notes.md
Due: none

Start adding folder doc type
  GameDocumentEngine.Server/Documents/DocumentController.cs
  GameDocumentEngine.Server/Documents/DocumentModelApiMapper.cs
  GameDocumentEngine.Server/Documents/Types/Folder/document-type.json
  GameDocumentEngine.Server/GameTypes/Clocks/game-type.json
  GameDocumentEngine.Server/GameTypes/MouseGuard/game-type.json
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
  GameDocumentEngine.Ui/src/documents/folder/en.json
  GameDocumentEngine.Ui/src/documents/folder/fixup.ts
  GameDocumentEngine.Ui/src/documents/folder/index.ts
  GameDocumentEngine.Ui/src/documents/folder/sheet.tsx
  GameDocumentEngine.Ui/src/documents/folder/types.ts
  GameDocumentEngine.Ui/src/utils/api/queries/document.ts
  schemas/api.yaml
  schemas/documents/Folder.json
Due: eslint, prettier

Correct migrations
  GameDocumentEngine.Server/Migrations/20230719024717_Initial.Designer.cs
  GameDocumentEngine.Server/Migrations/20230720124111_InvitationsAndPermissions.cs
  GameDocumentEngine.Server/Migrations/20230923193518_Initial.Designer.cs
  GameDocumentEngine.Server/Migrations/20230923193518_Initial.cs
  GameDocumentEngine.Server/Migrations/DocumentDbContextModelSnapshot.cs
  GameDocumentEngine.Server/Program.cs
Due: none

Add note about how to properly support multiple databases
  GameDocumentEngine.Server/GameDocumentEngine.Server.csproj
Due: none

Add Folder tracking to database
  GameDocumentEngine.Server/Data/DocumentDbContext.cs
  GameDocumentEngine.Server/Documents/DocumentModel.cs
  GameDocumentEngine.Server/Migrations/20230923211208_FolderOrganization.Designer.cs
  GameDocumentEngine.Server/Migrations/20230923211208_FolderOrganization.cs
Due: none

Correct read-only fields
  GameDocumentEngine.Ui/src/documents/get-document-pointers.ts
  GameDocumentEngine.Ui/src/documents/toReadOnlyFields.tsx
Due: eslint

Use NumberField and hide scroll arrows
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-input.module.css
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-input.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/nature-ability.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/standard-ability.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/skills.tsx
Due: eslint

Ensure fields are readonly by default
  GameDocumentEngine.Ui/src/documents/toReadOnlyFields.tsx
Due: eslint

Load extracted CSS for object types
  GameDocumentEngine.Server/Documents/GameTypeApiMapper.cs
  GameDocumentEngine.Server/Documents/GameTypes.cs
  GameDocumentEngine.Ui/src/utils/api/queries/game-types.ts
Due: eslint

Add pagination to documents
  GameDocumentEngine.Server/Documents/DocumentController.cs
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  GameDocumentEngine.Ui/src/utils/api/queries/applyEventToQuery.ts
  GameDocumentEngine.Ui/src/utils/api/queries/document.ts
  schemas/api.yaml
Due: eslint

Start adding support for folders to implementation
  GameDocumentEngine.Server/Documents/DocumentController.cs
  GameDocumentEngine.Server/Documents/EditableDocumentModel.cs
  GameDocumentEngine.Server/Documents/JsonGameObjectType.cs
  GameDocumentEngine.Server/Documents/Types/Folder/document-type.json
  GameDocumentEngine.Server/Documents/Types/MouseGuard-Character/document-type.json
  GameDocumentEngine.Server/Documents/Types/MouseGuard-Conflict/document-type.json
  GameDocumentEngine.Server/GameTypes/JsonGameType.cs
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-edit/document-edit.tsx
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  GameDocumentEngine.Ui/src/utils/api/queries/applyEventToQuery.ts
  GameDocumentEngine.Ui/src/utils/api/queries/document.ts
Due: eslint

Allow updating folder through the UI
  GameDocumentEngine.Server/Documents/DocumentModelApiMapper.cs
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-edit/document-edit.tsx
  GameDocumentEngine.Ui/src/utils/i18n/en.json
Due: eslint, prettier

Add initial folder structure calculation
  GameDocumentEngine.Server/Documents/DocumentController.cs
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-edit/document-edit.tsx
  GameDocumentEngine.Ui/src/utils/api/queries/applyEventToQuery.ts
  GameDocumentEngine.Ui/src/utils/api/queries/document.ts
Due: eslint

Improve role-assignment layout
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment.tsx
Due: eslint

Add TODO note
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/create-invite.tsx
Due: eslint

Allow users with only game roles to get changes
  GameDocumentEngine.Server/Documents/DocumentModelChangeNotifications.cs
  GameDocumentEngine.Server/Documents/GamePermissionSetResolver.cs
Due: none

Correct error messages for mapped fields
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/components/form-fields/errors/errors-list.tsx
  GameDocumentEngine.Ui/src/utils/form/getAtomForPath.ts
  GameDocumentEngine.Ui/src/utils/form/toInternalFieldAtom.ts
  GameDocumentEngine.Ui/src/utils/form/useConstant.ts
  GameDocumentEngine.Ui/src/utils/form/useField.ts
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
  GameDocumentEngine.Ui/src/utils/form/useFormFields.ts
Due: eslint, prettier

Correct create-invite "uses" field
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/create-invite.tsx
Due: eslint

Add auto-db upgrades
  GameDocumentEngine.Server/Program.cs
Due: none

Display documents in folder organization
  GameDocumentEngine.Server/Documents/Types/MouseGuard-Conflict/document-type.json
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  GameDocumentEngine.Ui/src/utils/api/queries/document.ts
  GameDocumentEngine.Ui/src/utils/i18n/en.json
Due: eslint, prettier

Add a console-accessible API
  GameDocumentEngine.Ui/src/main.tsx
  GameDocumentEngine.Ui/src/runtime-api.ts
  GameDocumentEngine.Ui/src/vtt-sw.ts
Due: eslint

Minor corrections
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
Due: eslint

Initial pass at splitting/moving localization
  GameDocumentEngine.Server/Localization/LocalizationController.cs
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/App.tsx
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/create-invite.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/game-invites.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-roles/game-roles.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-settings.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment.tsx
  GameDocumentEngine.Ui/src/documents/clock/index.ts
  GameDocumentEngine.Ui/src/documents/folder/index.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-character/index.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/index.ts
  GameDocumentEngine.Ui/src/utils/api/queries/game-types.ts
  GameDocumentEngine.Ui/src/utils/api/queries/index.ts
  GameDocumentEngine.Ui/src/utils/i18n/setup.ts
  GameDocumentEngine.Ui/vite.config.ts
  schemas/api.yaml
Due: eslint, prettier

Add dynamic loading of i18n files
  GameDocumentEngine.Server/GameDocumentEngine.Server.csproj
  GameDocumentEngine.Server/Localization/LocalizationController.cs
  GameDocumentEngine.Server/Localization/LocalizationOptions.cs
  GameDocumentEngine.Server/Program.cs
  GameDocumentEngine.Server/appsettings.Development.json
  GameDocumentEngine.Ui/src/documents/clock/i18n/en.json
  GameDocumentEngine.Ui/src/documents/folder/i18n/en.json
  GameDocumentEngine.Ui/src/documents/mouseguard-character/i18n/en.json
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/i18n/en.json
  GameDocumentEngine.Ui/src/game-types/Clocks/game-type.json
  GameDocumentEngine.Ui/src/game-types/Clocks/i18n/en.json
  GameDocumentEngine.Ui/src/game-types/MouseGuard/game-type.json
  GameDocumentEngine.Ui/src/game-types/MouseGuard/i18n/en.json
  GameDocumentEngine.Ui/src/utils/i18n/en.json
  GameDocumentEngine.Ui/src/utils/i18n/layout/en.json
  GameDocumentEngine.Ui/src/utils/i18n/setup.ts
  schemas/api.yaml
Due: eslint, prettier

Support i18n in docker build
  Dockerfile
  GameDocumentEngine.Server/GameDocumentEngine.Server.csproj
Due: none

Make order of params match C#
  schemas/api.yaml
Due: none
