Repository mdekrey/GameDocumentEngine: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

lefthook.yml:

# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: true
  commands:
    eslint:
      root: "GameDocumentEngine.Ui/"
      glob: "*.{cjs,mjs,js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files} && npx prettier --write {staged_files} && git add {staged_files}
    prettier:
      root: "GameDocumentEngine.Ui/"
      glob: "*.json"
      run: npx prettier --write {staged_files} && git add {staged_files}
    typecheck:
      root: "GameDocumentEngine.Ui/"
      glob: "src/*.{ts,tsx}"
      run: npm run typecheck

Various storybook layout fixes
  GameDocumentEngine.Ui/.storybook/preview.css
  GameDocumentEngine.Ui/.storybook/preview.ts
  GameDocumentEngine.Ui/.storybook/theme.ts
  GameDocumentEngine.Ui/index.html
  GameDocumentEngine.Ui/src/components/form-fields/select-field/select-field.stories.tsx
  GameDocumentEngine.Ui/src/components/header/header.stories.tsx
  GameDocumentEngine.Ui/src/components/layout/layout.stories.tsx
  GameDocumentEngine.Ui/src/components/network/network-indicator.stories.tsx
  GameDocumentEngine.Ui/src/main.css
  GameDocumentEngine.Ui/src/utils/stories/flyoutHeight.tsx
Due: eslint

Add toggling sidebar to story, custom scrollbars
  GameDocumentEngine.Ui/postcss.config.js
  GameDocumentEngine.Ui/src/App.tsx
  GameDocumentEngine.Ui/src/components/layout/layout.stories.tsx
  GameDocumentEngine.Ui/src/components/layout/layout.tsx
  GameDocumentEngine.Ui/src/main.css
  GameDocumentEngine.Ui/src/stories/tailwind-info.ts
  GameDocumentEngine.Ui/src/utils/stories/sample-components.tsx
  GameDocumentEngine.Ui/tailwind.config.ts
Due: eslint

Use standard color names
  GameDocumentEngine.Ui/src/components/header/header.tsx
  GameDocumentEngine.Ui/src/components/layout/layout.module.css
  GameDocumentEngine.Ui/src/components/menu-items/menu-items.tsx
  GameDocumentEngine.Ui/src/main.css
  GameDocumentEngine.Ui/src/utils/modal/alert-layout.tsx
  GameDocumentEngine.Ui/tailwind.config.ts
Due: eslint

Add fonts to tailwind listing
  GameDocumentEngine.Ui/src/stories/StyleGuide.mdx
  GameDocumentEngine.Ui/src/stories/TailwindGuide.mdx
  GameDocumentEngine.Ui/src/stories/swatch.tsx
  GameDocumentEngine.Ui/src/stories/tailwind-info.ts
  GameDocumentEngine.Ui/src/stories/tailwind/fonts.tsx
  GameDocumentEngine.Ui/src/stories/tailwind/info.ts
  GameDocumentEngine.Ui/src/stories/tailwind/swatch.tsx
Due: eslint

Move GameObjects back to sidebar
  GameDocumentEngine.Ui/src/App.tsx
  GameDocumentEngine.Ui/src/apps/game-details/game-details.tsx
Due: eslint

Adjust styling on base inputs
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/textarea-field/textarea-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/toggle-button/toggle-button.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/wises.tsx
Due: eslint

Improve dropdown styles
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-input.tsx
  GameDocumentEngine.Ui/tailwind.config.ts
Due: eslint

Consolidate gray to slate
  GameDocumentEngine.Ui/src/apps/create-game/create-game.tsx
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
  GameDocumentEngine.Ui/src/apps/documents/details/delete-document-modal.tsx
  GameDocumentEngine.Ui/src/apps/game-details/delete-game-modal.tsx
  GameDocumentEngine.Ui/src/apps/game-details/remove-game-user-modal.tsx
  GameDocumentEngine.Ui/src/apps/game-invites/delete-invite.tsx
  GameDocumentEngine.Ui/src/components/button/buttonThemes.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-field/text-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/textarea-field/textarea-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/textarea-field/textarea-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/toggle-button/toggle-button.tsx
  GameDocumentEngine.Ui/src/components/menu-items/menu-items.tsx
  GameDocumentEngine.Ui/src/components/network/modal/disconnected.tsx
  GameDocumentEngine.Ui/src/components/network/modal/reconnecting.tsx
  GameDocumentEngine.Ui/src/documents/clock/clock-svg.tsx
  GameDocumentEngine.Ui/src/stories/tailwind/fonts.tsx
  GameDocumentEngine.Ui/src/stories/tailwind/swatch.tsx
  GameDocumentEngine.Ui/src/utils/modal/alert-layout.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal-dialog.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal.stories.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal.tsx
  GameDocumentEngine.Ui/tailwind.config.ts
Due: eslint

Further consolidate colors
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-input.tsx
  GameDocumentEngine.Ui/tailwind.config.ts
Due: eslint

Correct CSS variables
  GameDocumentEngine.Ui/src/components/layout/layout.module.css
Due: none

Tweaks to field styles
  GameDocumentEngine.Ui/src/components/form-fields/field/field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/fieldset/fieldset.tsx
Due: eslint

Add Vite dev server support in .NET
  GameDocumentEngine.DevProxy/EventedStreamReader.cs
  GameDocumentEngine.DevProxy/EventedStreamStringReader.cs
  GameDocumentEngine.DevProxy/GameDocumentEngine.DevProxy.csproj
  GameDocumentEngine.DevProxy/LoggerFinder.cs
  GameDocumentEngine.DevProxy/NodeScriptRunner.cs
  GameDocumentEngine.DevProxy/TaskTimeoutExtensions.cs
  GameDocumentEngine.DevProxy/TcpPortFinder.cs
  GameDocumentEngine.DevProxy/ViteDevelopmentServerMiddleware.cs
  GameDocumentEngine.DevProxy/ViteServerMiddlewareExtensions.cs
  GameDocumentEngine.Server/GameDocumentEngine.Server.csproj
  GameDocumentEngine.Server/Program.cs
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.sln
  eng/npm.targets
Due: prettier

Improve build tooling
  GameDocumentEngine.Server/GameDocumentEngine.Server.csproj
  GameDocumentEngine.Ui/GameDocumentEngine.Ui.esproj
  eng/npm.targets
Due: none

Remove "brand" colors from tailwind
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/textarea-input/textarea-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/toggle-button/toggle-button.tsx
  GameDocumentEngine.Ui/src/components/header/header.tsx
  GameDocumentEngine.Ui/src/components/menu-items/menu-link.tsx
  GameDocumentEngine.Ui/src/main.css
  GameDocumentEngine.Ui/src/stories/tailwind/fonts.tsx
  GameDocumentEngine.Ui/src/stories/tailwind/info.ts
  GameDocumentEngine.Ui/src/utils/modal/alert-layout.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal-dialog.tsx
  GameDocumentEngine.Ui/tailwind.config.ts
Due: eslint

Simplify/clarify dev vite server
  GameDocumentEngine.DevProxy/NodeScriptRunner.cs
  GameDocumentEngine.DevProxy/ViteDevelopmentServerMiddleware.cs
  GameDocumentEngine.Server/Program.cs
Due: none

Allow dark mode toggling in Storybook
  GameDocumentEngine.Ui/.storybook/components/StorybookDecorator.tsx
  GameDocumentEngine.Ui/.storybook/main.ts
  GameDocumentEngine.Ui/.storybook/manager.ts
  GameDocumentEngine.Ui/.storybook/preview.css
  GameDocumentEngine.Ui/.storybook/preview.ts
  GameDocumentEngine.Ui/.storybook/theme.ts
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/apps/documents/details/delete-document-modal.tsx
  GameDocumentEngine.Ui/src/apps/game-details/remove-game-user-modal.tsx
  GameDocumentEngine.Ui/src/apps/game-invites/delete-invite.tsx
  GameDocumentEngine.Ui/src/components/header/header.tsx
  GameDocumentEngine.Ui/src/components/layout/layout.module.css
  GameDocumentEngine.Ui/src/components/layout/layout.tsx
  GameDocumentEngine.Ui/src/components/network/modal/disconnected.tsx
  GameDocumentEngine.Ui/src/components/network/modal/reconnecting.tsx
  GameDocumentEngine.Ui/src/components/text/common.tsx
  GameDocumentEngine.Ui/src/main.css
  GameDocumentEngine.Ui/src/utils/modal/alert-icon.tsx
  GameDocumentEngine.Ui/src/utils/modal/alert-layout.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal-dialog.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal.stories.tsx
  GameDocumentEngine.Ui/tailwind.config.ts
Due: eslint, prettier

Standardize element template
  GameDocumentEngine.Ui/src/components/template/index.ts
  GameDocumentEngine.Ui/src/components/text/common.tsx
Due: eslint

Consolidate Button theme into component template
  GameDocumentEngine.Ui/src/components/button/button.stories.tsx
  GameDocumentEngine.Ui/src/components/button/button.tsx
  GameDocumentEngine.Ui/src/components/button/buttonThemes.tsx
  GameDocumentEngine.Ui/src/components/button/icon-button.tsx
  GameDocumentEngine.Ui/src/components/button/icon-link-button.stories.tsx
  GameDocumentEngine.Ui/src/components/button/icon-link-button.tsx
  GameDocumentEngine.Ui/src/components/template/index.ts
  GameDocumentEngine.Ui/src/components/text/common.tsx
Due: eslint

Further style improvements
  GameDocumentEngine.Ui/src/components/form-fields/field/field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-input.tsx
Due: eslint

Only reload if there is an iframe
  GameDocumentEngine.Ui/.storybook/preview.ts
Due: eslint

Restore missing file
  GameDocumentEngine.Ui/src/utils/modal/alert-layout.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal-dialog.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal.stories.tsx
Due: eslint

Correct `mutateProps` usage
  GameDocumentEngine.Ui/src/components/button/button.tsx
  GameDocumentEngine.Ui/src/components/button/icon-button.tsx
Due: eslint

Correct login for invites
  GameDocumentEngine.Server/Program.cs
  schemas/api.yaml
Due: none

Correct workflow to leverage msbuild
  .github/workflows/ui-lint.yaml
Due: none

Fix dev server and add dark mode toggle
  GameDocumentEngine.Server/Program.cs
  GameDocumentEngine.Ui/src/components/header/header.stories.tsx
  GameDocumentEngine.Ui/src/components/header/useHeaderMenuItems.tsx
  GameDocumentEngine.Ui/src/components/layout/layout.stories.tsx
  GameDocumentEngine.Ui/src/components/menu-items/menu-items.tsx
  GameDocumentEngine.Ui/src/components/menu-items/menu-link.tsx
  GameDocumentEngine.Ui/src/rfc6902.d.ts
  GameDocumentEngine.Ui/src/utils/i18n/en.json
  GameDocumentEngine.Ui/vite.config.ts
Due: eslint, prettier

Add .NET version for generation
  .github/workflows/ui-lint.yaml
Due: none

Correct build tooling
  .github/workflows/ui-lint.yaml
Due: none

Apply Prettier fixes missed in refactor
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/apps/documents/useGameType.ts
  GameDocumentEngine.Ui/src/components/button/icon-link-button.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-input.tsx
  GameDocumentEngine.Ui/src/components/header/header.tsx
  GameDocumentEngine.Ui/src/components/jotai/atom-contents.tsx
  GameDocumentEngine.Ui/src/components/jotai/useTwMerge.ts
  GameDocumentEngine.Ui/src/components/network/network-indicator.tsx
  GameDocumentEngine.Ui/src/documents/clock/clock-edit.tsx
  GameDocumentEngine.Ui/src/documents/clock/clock-widget.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/character-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/checkboxes-button.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/repeating-icons.tsx
  GameDocumentEngine.Ui/src/utils/api/queries/applyEventToQuery.ts
  GameDocumentEngine.Ui/src/utils/api/realtime-api.ts
  GameDocumentEngine.Ui/src/utils/form/createErrorsAtom.ts
  GameDocumentEngine.Ui/src/utils/form/field-config-types.ts
  GameDocumentEngine.Ui/src/utils/form/getAtomForPath.ts
  GameDocumentEngine.Ui/src/utils/form/mapAtom.ts
  GameDocumentEngine.Ui/src/utils/form/useField.ts
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
  GameDocumentEngine.Ui/src/utils/form/useFormFields.ts
  GameDocumentEngine.Ui/src/utils/modal/modal-service.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal.tsx
Due: eslint

Cache NuGet and npm packages
  .github/workflows/dotnet-lint.yaml
  .github/workflows/parts/cache.yaml
  .github/workflows/run-tests.yaml
  .github/workflows/ui-lint.yaml
Due: none

Use full path to reusable action
  .github/workflows/dotnet-lint.yaml
  .github/workflows/run-tests.yaml
  .github/workflows/ui-lint.yaml
Due: none

Actions must be named action.yaml
  .github/workflows/dotnet-lint.yaml
  .github/workflows/parts/cache/action.yaml
  .github/workflows/run-tests.yaml
  .github/workflows/ui-lint.yaml
Due: none

Switch tests to manual run only
  .github/workflows/run-tests.yaml
Due: none

Split build/deploy steps
  .github/workflows/deploy-main.yaml
Due: none

Show errors in stories, tweak dark/light mode
  GameDocumentEngine.Ui/src/components/form-fields/checkbox-input/checkbox-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/errors/errors-list.tsx
  GameDocumentEngine.Ui/src/components/form-fields/field/field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/number-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/textarea-input/textarea-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/textarea-input/textarea-input.tsx
Due: eslint

Fix select box functionality
  .dockerignore
  GameDocumentEngine.Ui/.gitignore
  GameDocumentEngine.Ui/src/components/form-fields/field/field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-input.tsx
Due: eslint

Add manifest for dev, prevent service worker cache
  GameDocumentEngine.Ui/scripts/vite-plugin-dev-manifest.ts
  GameDocumentEngine.Ui/src/App.tsx
  GameDocumentEngine.Ui/src/vtt-sw.ts
  GameDocumentEngine.Ui/tsconfig.json
  GameDocumentEngine.Ui/vite.config.ts
Due: eslint, prettier

Work on Mouse Guard character sheet layout
  GameDocumentEngine.Ui/src/components/form-fields/toggle-button/toggle-button.tsx
  GameDocumentEngine.Ui/src/components/tabs/tabs.stories.tsx
  GameDocumentEngine.Ui/src/components/tabs/tabs.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/character-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/repeating-icons.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/en.json
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/abilities.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/traits.tsx
Due: eslint, prettier

Tweak abilities layout
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/CheckboxList.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/ability-layout.module.css
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/ability-layout.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/nature-ability.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/pass-fail.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/standard-ability.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/abilities.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/wises.tsx
Due: eslint
