Repository mdekrey/GameDocumentEngine: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  run: npx eslint --fix {staged_files} && npx prettier --write {staged_files} && git add {staged_files}

prettier:
  run: npx prettier --write {staged_files} && git add {staged_files}

typecheck:
  run: npm run typecheck

Reveal versions and test for conflicts
  GameDocumentEngine.Server/Documents/DocumentController.cs
  GameDocumentEngine.Server/Documents/DocumentModelApiMapper.cs
  GameDocumentEngine.Server/Documents/EditableDocumentModel.cs
  GameDocumentEngine.Server/Documents/EditableGameModel.cs
  GameDocumentEngine.Server/Documents/GameModelApiMapper.cs
  GameDocumentEngine.Ui/src/utils/api/queries/document.ts
  schemas/api.yaml
Due: eslint

Support 409 responses if test mismatches
  GameDocumentEngine.Server/Documents/DocumentController.cs
  GameDocumentEngine.Server/Documents/GameController.cs
  GameDocumentEngine.Server/Documents/PatchUtils.cs
Due: none

Start adding operational transform
  GameDocumentEngine.Ui/src/utils/api/queries/document.ts
  GameDocumentEngine.Ui/src/utils/api/queries/operational-transform.ts
Due: eslint

Use OT to fix local pending actions
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/apps/documents/useLocalDocument.ts
  GameDocumentEngine.Ui/src/utils/api/queries/document.ts
  GameDocumentEngine.Ui/src/utils/api/queries/operational-transform.ts
Due: eslint

Minor cleanup
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
Due: eslint

Improve typing long sentences experience
  GameDocumentEngine.Ui/src/utils/form/update-form-default.ts
Due: eslint

Add error boundary to document
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/components/error-boundary/error-boundary.tsx
  GameDocumentEngine.Ui/src/utils/api/queries/applyEventToQuery.ts
  GameDocumentEngine.Ui/src/utils/i18n/en.json
Due: eslint, prettier

Change character icon
  GameDocumentEngine.Ui/src/doc-types/Break-Character/index.ts
Due: eslint

Use user options to store theme
  GameDocumentEngine.Server/Users/UserController.cs
  GameDocumentEngine.Server/Users/UserModelApiMapper.cs
  GameDocumentEngine.Ui/src/components/header/useHeaderMenuItems.tsx
  schemas/api.yaml
Due: eslint

Correct sample data
  GameDocumentEngine.Ui/src/utils/stories/sample-data.ts
Due: eslint

Reduce invalidation on document list
  GameDocumentEngine.Ui/src/utils/api/queries/applyEventToQuery.ts
  GameDocumentEngine.Ui/src/utils/api/queries/document.ts
Due: eslint

Ensure updates work when fully disconnected
  GameDocumentEngine.Ui/src/main.tsx
  GameDocumentEngine.Ui/src/runtime-api.ts
  GameDocumentEngine.Ui/src/service-worker/messages.ts
  GameDocumentEngine.Ui/src/utils/api/queries/document.ts
  GameDocumentEngine.Ui/src/utils/api/queries/operational-transform.ts
  GameDocumentEngine.Ui/src/vtt-sw.ts
Due: eslint

Add version test to hub notifications
  GameDocumentEngine.Server/Api/IApiChangeNotification.cs
Due: none

Fix user dark mode menu
  GameDocumentEngine.Ui/src/components/header/useHeaderMenuItems.tsx
Due: eslint

Correct jsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/aptitudes.tsx
Due: eslint

Improve combat layout
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/CircularNumberField.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/CircularNumberField.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/aptitude.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/aptitudes.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/atoms.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/atoms.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/attack.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/defense.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/hearts.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/speed.tsx
Due: eslint

Improve Break styling
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/CircularNumberField.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/CircularNumberField.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/aptitude.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/aptitudes.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/atoms.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/defense.tsx
Due: eslint

Improve Languages list
  GameDocumentEngine.Ui/src/components/button/button-row.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/BasicList.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/identity.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/useFieldList.tsx
  GameDocumentEngine.Ui/src/utils/i18n/setup.ts
Due: eslint, prettier

Improve various styling
  GameDocumentEngine.Ui/src/doc-types/Break-Character/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/BasicList.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/CircularNumberField.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/CircularNumberField.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/ability.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/gear.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/identity.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/social.tsx
Due: eslint, prettier

Add hearts checkbox list
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat-values.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/attack.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/attack.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/checklist/CheckboxList.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/checklist/checkboxes-button.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/checklist/repeating-icons.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/hearts.tsx
Due: eslint

Auto-adjust textarea height based on contents
  GameDocumentEngine.Ui/src/components/form-fields/textarea-input/textarea-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/textarea-input/textarea-input.tsx
Due: eslint

Fix storybook build
  GameDocumentEngine.Ui/src/components/header/header.stories.tsx
  GameDocumentEngine.Ui/src/components/layout/layout.stories.tsx
Due: eslint

Minor tweaks to layout
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat-values.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/gear.tsx
Due: eslint

Reduce calls to fixup
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/documents/get-document-pointers.ts
  GameDocumentEngine.Ui/src/utils/form/update-form-default.ts
Due: eslint

Extract drag/drop functionality
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  GameDocumentEngine.Ui/src/components/drag-drop/base.ts
  GameDocumentEngine.Ui/src/components/drag-drop/framework.ts
  GameDocumentEngine.Ui/src/components/drag-drop/index.ts
  GameDocumentEngine.Ui/src/components/drag-drop/mime-types.ts
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.module.css
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/document-type.json
  GameDocumentEngine.Ui/src/doc-types/Dashboard/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Dashboard/index.ts
  GameDocumentEngine.Ui/src/doc-types/Dashboard/schema.json
  GameDocumentEngine.Ui/src/doc-types/Dashboard/types.ts
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
  GameDocumentEngine.Ui/src/game-types/Break/game-type.json
Due: eslint, prettier

Make it easier to handle "effectAllowed" prop
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  GameDocumentEngine.Ui/src/components/drag-drop/framework.ts
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
Due: eslint

Correct dashboard schema
  GameDocumentEngine.Ui/src/components/drag-drop/mime-types.ts
  GameDocumentEngine.Ui/src/doc-types/Dashboard/index.ts
  GameDocumentEngine.Ui/src/doc-types/Dashboard/schema.json
Due: eslint, prettier

Add role assignment on document creation
  GameDocumentEngine.Server/Documents/DocumentController.cs
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-edit/document-edit.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment-field.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment.tsx
  GameDocumentEngine.Ui/src/utils/api/queries/game-types.ts
  GameDocumentEngine.Ui/src/utils/i18n/document-settings/en.json
  GameDocumentEngine.Ui/src/utils/i18n/en.json
  schemas/api.yaml
Due: eslint, prettier

Eliminate uncontrolled component warning
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
Due: eslint

Ensure inital roles does not contain empty strings
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
Due: eslint

Update elementTemplate
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/components/button/button-row.tsx
  GameDocumentEngine.Ui/src/components/button/button.tsx
  GameDocumentEngine.Ui/src/components/button/icon-button.tsx
  GameDocumentEngine.Ui/src/components/button/icon-link-button.tsx
  GameDocumentEngine.Ui/src/components/form-fields/textarea-input/textarea-input.tsx
  GameDocumentEngine.Ui/src/components/sections/index.tsx
  GameDocumentEngine.Ui/src/components/template/index.ts
  GameDocumentEngine.Ui/src/components/text/common.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/CircularNumberField.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/atoms.tsx
Due: eslint

Define dashboard grid based on CSS variables
  GameDocumentEngine.Ui/src/css-variables.d.ts
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.module.css
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
Due: eslint

Add docs and support style merging
  GameDocumentEngine.Ui/src/components/button/button.tsx
  GameDocumentEngine.Ui/src/components/template/index.ts
Due: eslint

Improve button themes
  GameDocumentEngine.Ui/src/components/button/button.tsx
  GameDocumentEngine.Ui/src/components/button/icon-button.tsx
  GameDocumentEngine.Ui/src/components/button/icon-link-button.tsx
  GameDocumentEngine.Ui/src/components/template/index.ts
Due: eslint

Improve docs on Buttons
  GameDocumentEngine.Ui/src/components/button/button.tsx
  GameDocumentEngine.Ui/src/components/template/index.ts
Due: eslint

Add a NotSelected shared component for SelectField
  GameDocumentEngine.Ui/src/apps/create-game/create-game.tsx
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/create-invite.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-field.tsx
Due: eslint

Fix build by specifying node minor version
  Dockerfile
Due: none

Work-in-progress add widgets
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/delete-invite.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/addWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.module.css
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Dashboard/index.ts
  GameDocumentEngine.Ui/src/doc-types/Dashboard/types.ts
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint, prettier

Improve document type error handling
  GameDocumentEngine.Server/Documents/GamePermissionSetResolver.cs
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  GameDocumentEngine.Ui/src/components/errors/ErrorScreen.tsx
  GameDocumentEngine.Ui/src/utils/i18n/en.json
Due: eslint, prettier

Use paths in tabs component
  GameDocumentEngine.Ui/src/App.tsx
  GameDocumentEngine.Ui/src/components/tabs/tabs.tsx
Due: eslint

Path conditions:
  eslint: any of: *.{cjs,mjs,js,jsx,ts,tsx} and ^GameDocumentEngine\.Ui/
  prettier: any of: *.json and ^GameDocumentEngine\.Ui/
  typecheck: any of: src/*.{ts,tsx} and ^GameDocumentEngine\.Ui/
