Repository mdekrey/GameDocumentEngine: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

lefthook.yml:

# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: true
  commands:
    eslint:
      root: "GameDocumentEngine.Ui/"
      glob: "*.{cjs,mjs,js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files} && npx prettier --write {staged_files} && git add {staged_files}
    prettier:
      root: "GameDocumentEngine.Ui/"
      glob: "*.json"
      run: npx prettier --write {staged_files} && git add {staged_files}
    typecheck:
      root: "GameDocumentEngine.Ui/"
      glob: "src/*.{ts,tsx}"
      run: npm run typecheck

Add `useHeaderPresentation` hook
  GameDocumentEngine.Ui/src/App.tsx
  GameDocumentEngine.Ui/src/components/header/useHeaderPresentation.tsx
  GameDocumentEngine.Ui/src/components/layout/LoadingSection.tsx
  GameDocumentEngine.Ui/src/components/layout/layout.stories.tsx
  GameDocumentEngine.Ui/src/components/layout/layout.tsx
Due: eslint

Reuse storybook header
  GameDocumentEngine.Ui/src/components/header/header.stories.tsx
  GameDocumentEngine.Ui/src/components/header/useStorybookHeaderPresentation.tsx
  GameDocumentEngine.Ui/src/components/layout/layout.stories.tsx
Due: eslint

Add support for fullscreen mode
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardViewMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/grid-utils.tsx
Due: eslint

Remove focus trap from modal
  GameDocumentEngine.Ui/src/utils/modal/modal.tsx
Due: eslint

Improve user quality of life by connecting on load
  GameDocumentEngine.Ui/src/App.tsx
  GameDocumentEngine.Ui/src/components/network/useReconnectOnLoad.tsx
Due: eslint

Standardize form modals
  GameDocumentEngine.Ui/src/apps/configure-game-import/ConfigureImportGame.tsx
  GameDocumentEngine.Ui/src/apps/configure-game-import/ConfigureImportIntoExistingGame.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/create-invite.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModalPresentation.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/add-widget/AddWidgetModal.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal-form.tsx
Due: eslint

Reuse OkModalDialogPresentation
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/NoWidgets.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/add-widget/NoWidgets.tsx
Due: eslint, prettier

Standardize file pickers
  GameDocumentEngine.Ui/src/apps/create-game/create-game.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/game-danger-zone.tsx
  GameDocumentEngine.Ui/src/components/file-picker/file-picker.tsx
Due: eslint

Remove old TODO
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
Due: eslint

Improve Create Document screen
  GameDocumentEngine.Ui/src/apps/documents/create-document/CreateDocumentDetails.tsx
  GameDocumentEngine.Ui/src/apps/documents/create-document/useCreateDocumentDetails.tsx
Due: eslint

Use common hook for atom subscription
  GameDocumentEngine.Ui/src/components/form-fields/textarea-input/textarea-field.tsx
  GameDocumentEngine.Ui/src/components/layout/layout.tsx
  GameDocumentEngine.Ui/src/components/network/network-indicator.tsx
  GameDocumentEngine.Ui/src/components/rich-text/DisplayRichText.tsx
  GameDocumentEngine.Ui/src/components/rich-text/RichTextField.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/MoveResizeWidget.tsx
  GameDocumentEngine.Ui/src/utils/useAtomSubscription.tsx
Due: eslint

Extract document form to separate type
  GameDocumentEngine.Ui/src/apps/documents/details/DocumentDetailsContainer.tsx
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/apps/documents/details/useDocumentForm.tsx
  GameDocumentEngine.Ui/src/apps/documents/details/useEditableDocument.tsx
Due: eslint

Standardize delete-with-confirm-name
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/delete-game-modal.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/game-danger-zone.tsx
  GameDocumentEngine.Ui/src/utils/i18n/en.json
  GameDocumentEngine.Ui/src/utils/modal/layouts/delete-confirm-name-dialog.tsx
Due: eslint, prettier

Reuse "are-you-sure" dialog for game invites
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/delete-invite.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/game-invites.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/getInviteUrl.tsx
  GameDocumentEngine.Ui/src/utils/i18n/en.json
  GameDocumentEngine.Ui/src/utils/modal/layouts/are-you-sure-dialog.tsx
Due: eslint, prettier

Correct server-side invite bugs
  GameDocumentEngine.Server/Security/InvitationController.cs
Due: none

Standardize "useAreYouSure"
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/game-danger-zone.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/remove-game-user-modal.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/delete-invite.tsx
  GameDocumentEngine.Ui/src/utils/i18n/en.json
  GameDocumentEngine.Ui/src/utils/modal/layouts/are-you-sure-dialog.tsx
Due: eslint, prettier

Improve `deleteWidget` implementation
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/WidgetTemplateEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/delete-widget/deleteWidget.tsx
Due: eslint, prettier

Finish converting `areYouSure` to hook
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/delete-widget/deleteWidget.tsx
  GameDocumentEngine.Ui/src/utils/modal/layouts/are-you-sure-dialog.tsx
Due: eslint

Convert okDialog to hook
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/info.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/WidgetTemplateEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/info/info.tsx
  GameDocumentEngine.Ui/src/utils/modal/layouts/are-you-sure-dialog.tsx
  GameDocumentEngine.Ui/src/utils/modal/layouts/ok-dialog.tsx
Due: eslint

Improve `addWidget` modals
  GameDocumentEngine.Ui/src/components/drag-drop/framework.ts
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/addWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/WidgetTemplateEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/add-widget/addWidget.tsx
Due: eslint

Consolidate SectionHeader
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/components/sections/index.tsx
Due: eslint

Standardize subheader components
  GameDocumentEngine.Ui/src/apps/documents/subheader/document-subheader.tsx
  GameDocumentEngine.Ui/src/apps/game-details/game-subheader.tsx
  GameDocumentEngine.Ui/src/components/subheader/subheader.tsx
Due: eslint

Split Presentation component
  GameDocumentEngine.Ui/src/apps/documents/subheader/document-subheader.tsx
  GameDocumentEngine.Ui/src/apps/game-details/game-subheader.tsx
Due: eslint

Extract instructions presentational component
  GameDocumentEngine.Ui/src/apps/game-details/game-details.tsx
Due: eslint

Minor refactor
  GameDocumentEngine.Ui/src/App.tsx
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  GameDocumentEngine.Ui/src/apps/game-details/useFolderDragTarget.tsx
Due: eslint

Various refactoring
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/game-danger-zone.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/useDeleteGameWithConfirm.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-edit/game-edit.tsx
Due: eslint

More minor refactoring
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/delete-invite.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/game-invites.tsx
Due: eslint

Fix typing issue
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardViewMode.tsx
Due: eslint

Correct license.txt
  GameDocumentEngine.Ui/LICENSE.txt
Due: none

Implement basic composite TS builds
  .dockerignore
  .gitignore
  .vscode/settings.json
  Dockerfile
  GameDocumentEngine.Ui/GameDocumentEngine.Ui.esproj
  GameDocumentEngine.Ui/tsconfig.json
  GameDocumentEngine.Ui/tsconfig.node.json
  package.json
  tsconfig.base.json
  tsconfig.json
Due: prettier

Correct IDE typescript issues
  tsconfig.base.json
Due: none

Use TS to output js and d.ts files for lib
  .dockerignore
  .gitignore
  GameDocumentEngine.Ui.Api/package.json
  GameDocumentEngine.Ui.Api/tsconfig.json
  tsconfig.lib.json
Due: none
