Repository mdekrey/GameDocumentEngine: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  run: npx eslint --fix {staged_files} && npx prettier --write {staged_files} && git add {staged_files}

prettier:
  run: npx prettier --write {staged_files} && git add {staged_files}

typecheck:
  run: npm run typecheck

Correct role assignments
  GameDocumentEngine.Server/Data/PermissionedEntityChangeNotifications.cs
  GameDocumentEngine.Server/Documents/DocumentModelChangeNotifications.cs
  GameDocumentEngine.Server/Documents/GameController.cs
  GameDocumentEngine.Server/Documents/GameModelApiMapper.cs
  GameDocumentEngine.Server/Documents/GameModelChangeNotifications.cs
  GameDocumentEngine.Server/Documents/GameUserModel.cs
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/game-danger-zone.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-roles/game-roles.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment-field.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment.tsx
  schemas/api.yaml
Due: eslint

Correct invitation links
  GameDocumentEngine.Server/Documents/DocumentController.cs
  GameDocumentEngine.Server/Documents/GameController.cs
  GameDocumentEngine.Server/Security/InvitationController.cs
  GameDocumentEngine.Ui/src/utils/api/queries/applyEventToQuery.ts
  GameDocumentEngine.Ui/src/utils/api/queries/document.ts
Due: eslint

Switch to multipart
  GameDocumentEngine.Server/Api/FormValueJsonProvider.cs
  GameDocumentEngine.Server/Api/ImportIntoExistingGameMultipartFormDataRequest.cs
  GameDocumentEngine.Server/ImportExport/ImportController.cs
  GameDocumentEngine.Server/Program.cs
  GameDocumentEngine.Ui/src/utils/api/queries/games.ts
  schemas/api.yaml
Due: eslint

Add archive inspection endpoint
  GameDocumentEngine.Server/ImportExport/ExportController.cs
  GameDocumentEngine.Server/ImportExport/GameArchiveVersion1.cs
  GameDocumentEngine.Server/ImportExport/ImportController.cs
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/game-danger-zone.tsx
  GameDocumentEngine.Ui/src/utils/api/queries/games.ts
  GameDocumentEngine.Ui/src/utils/api/queries/index.ts
  schemas/api.yaml
Due: eslint

Include player info in export
  GameDocumentEngine.Server/Documents/GameModelApiMapper.cs
  GameDocumentEngine.Server/ImportExport/GameArchiveVersion1.cs
  GameDocumentEngine.Server/Migrations/20240101203633_OptionalGameUser.Designer.cs
  GameDocumentEngine.Server/Migrations/20240101203633_OptionalGameUser.cs
  GameDocumentEngine.Ui/src/apps/create-game/create-game.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/game-danger-zone.tsx
Due: eslint

Stub import-options dialogs
  GameDocumentEngine.Server/Api/ImportIntoExistingGameMultipartFormDataRequest.cs
  GameDocumentEngine.Server/Documents/GameController.cs
  GameDocumentEngine.Server/ImportExport/GameArchiveVersion1.cs
  GameDocumentEngine.Server/ImportExport/ImportController.cs
  GameDocumentEngine.Ui/src/apps/configure-game-import/ConfigureImportGame.tsx
  GameDocumentEngine.Ui/src/apps/configure-game-import/ConfigureImportIntoExistingGame.tsx
  GameDocumentEngine.Ui/src/apps/create-game/create-game.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/game-danger-zone.tsx
  GameDocumentEngine.Ui/src/utils/api/queries/games.ts
  schemas/api.yaml
Due: eslint

Interrupt import with options dialog
  GameDocumentEngine.Ui/src/apps/configure-game-import/ConfigureImportGame.tsx
  GameDocumentEngine.Ui/src/apps/configure-game-import/ConfigureImportIntoExistingGame.tsx
  GameDocumentEngine.Ui/src/apps/configure-game-import/mappings.ts
Due: eslint

Work-in-progress import game dialog
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/apps/configure-game-import/ConfigureImportGame.tsx
  GameDocumentEngine.Ui/src/apps/configure-game-import/ConfigureImportIntoExistingGame.tsx
  GameDocumentEngine.Ui/src/apps/configure-game-import/mappings.ts
  GameDocumentEngine.Ui/src/utils/i18n/configure-import-new-game/en.json
Due: eslint, prettier

Improve import translations
  GameDocumentEngine.Ui/src/apps/configure-game-import/ConfigureImportGame.tsx
  GameDocumentEngine.Ui/src/utils/i18n/configure-import-new-game/en.json
Due: eslint, prettier

Use import options
  GameDocumentEngine.Server/ImportExport/GameArchiveVersion1.cs
  GameDocumentEngine.Server/ImportExport/ImportController.cs
  GameDocumentEngine.Ui/src/apps/configure-game-import/ConfigureImportGame.tsx
  GameDocumentEngine.Ui/src/apps/configure-game-import/ConfigureImportIntoExistingGame.tsx
  GameDocumentEngine.Ui/src/apps/configure-game-import/SelectDocuments.tsx
  GameDocumentEngine.Ui/src/apps/configure-game-import/SelectPlayers.tsx
  GameDocumentEngine.Ui/src/utils/i18n/configure-import-existing-game/en.json
Due: eslint, prettier

Improve debug build speeds
  .gitignore
  GameDocumentEngine.Server/wwwroot/.gitkeep
  GameDocumentEngine.Ui/GameDocumentEngine.Ui.esproj
  eng/npm.targets
Due: none

Correct warning
  GameDocumentEngine.Server/Api/FormValueJsonProvider.cs
Due: none

Correct game change notifications
  GameDocumentEngine.Server/Documents/GameModelChangeNotifications.cs
Due: none

Minor cleanup
  GameDocumentEngine.Ui/src/doc-types/Clock/clock-svg.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModal.tsx
Due: eslint

Add `useWidget` hook to make Widget component
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/InfoWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/useWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/widget-settings.tsx
Due: eslint

Extract component hook
  GameDocumentEngine.Ui/src/components/named-icon/useDocumentName.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/NoWidgets.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/delete-widget/DeleteWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/InfoWidgetModal.tsx
Due: eslint

Update forms to remove unbound-method warning
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
Due: eslint, prettier

Correct error boundary patterns
  GameDocumentEngine.Ui/src/components/error-boundary/error-boundary.tsx
Due: eslint

Improve Role Assignment field reuse
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-field.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment-field.tsx
  GameDocumentEngine.Ui/src/utils/i18n/en.json
Due: eslint, prettier

Split files and hooks
  GameDocumentEngine.Ui/src/apps/documents/create-document/DocumentRoleAssignment.tsx
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
  GameDocumentEngine.Ui/src/apps/documents/create-document/createDocumentDetailsSchema.tsx
  GameDocumentEngine.Ui/src/apps/documents/create-document/useCreateDocumentDetails.tsx
  GameDocumentEngine.Ui/src/apps/documents/create-document/useDocTypeFormUpdates.tsx
  GameDocumentEngine.Ui/src/utils/useAtomSubscription.tsx
Due: eslint

Add details to doc creation form
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
  GameDocumentEngine.Ui/src/apps/documents/create-document/createDocumentDetailsSchema.tsx
  GameDocumentEngine.Ui/src/apps/documents/create-document/useDocTypeFormUpdates.tsx
Due: eslint

Add support for initial doc details
  GameDocumentEngine.Ui/src/apps/documents/create-document/CreateDocumentDetails.tsx
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
  GameDocumentEngine.Ui/src/components/form-fields/errors/errors-list.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint

Update form version and use custom default storage
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/apps/documents/create-document/CreateDocumentDetails.tsx
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-edit/document-edit.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-edit/game-edit.tsx
  GameDocumentEngine.Ui/src/apps/profile/profile.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment.tsx
  GameDocumentEngine.Ui/src/doc-types/Clock/clock-edit.tsx
  GameDocumentEngine.Ui/src/doc-types/Clock/index.ts
  GameDocumentEngine.Ui/src/utils/form/update-form-default.ts
Due: eslint, prettier

Eliminate doc creation warnings/errors
  GameDocumentEngine.Ui/src/apps/documents/create-document/DocumentRoleAssignment.tsx
  GameDocumentEngine.Ui/src/apps/documents/create-document/useCreateDocumentDetails.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-field.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment-field.tsx
  GameDocumentEngine.Ui/src/utils/i18n/en.json
Due: eslint, prettier

Add Widget Template doc type
  GameDocumentEngine.Ui/src/apps/documents/create-document/CreateDocumentDetails.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/create.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/document-type.json
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/index.ts
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/schema.json
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/types.ts
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
  GameDocumentEngine.Ui/src/game-types/Break/game-type.json
  GameDocumentEngine.Ui/src/game-types/Clocks/game-type.json
  GameDocumentEngine.Ui/src/game-types/MouseGuard/game-type.json
Due: eslint, prettier

Separate Dashboard files
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardViewMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/useDashboardDetails.tsx
Due: eslint

Rename hook for reuse
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardViewMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/types.ts
  GameDocumentEngine.Ui/src/doc-types/Dashboard/useWidgetSizes.ts
Due: eslint

Quick addition of widget templates
  GameDocumentEngine.Ui/src/doc-types/Dashboard/useWidgetSizes.ts
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/MoveResizeWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/index.ts
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/RenderWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/WidgetTemplateEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/WidgetTemplateViewMode.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/add-widget/AddWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/add-widget/NoWidgets.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/add-widget/addWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/delete-widget/DeleteWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/delete-widget/deleteWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/display.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/index.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/info/InfoWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/info/info.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/router.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/select-preview-item.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/useWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/widget-settings.tsx
Due: eslint

Correct widget settings editing
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/router.tsx
Due: eslint

Standardize InfoWidgetModal
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/InfoWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/InfoWidgetModalPresentation.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/info/InfoWidgetModal.tsx
  GameDocumentEngine.Ui/src/utils/modal/layouts/ok-dialog.tsx
Due: eslint

Extract `areYouSure` function
  GameDocumentEngine.Ui/src/doc-types/Dashboard/delete-widget/DeleteWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/delete-widget/deleteWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/delete-widget/DeleteWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/delete-widget/deleteWidget.tsx
  GameDocumentEngine.Ui/src/utils/api/accessors/index.ts
  GameDocumentEngine.Ui/src/utils/api/hooks/translations.ts
  GameDocumentEngine.Ui/src/utils/modal/layouts/are-you-sure-dialog.tsx
  GameDocumentEngine.Ui/src/utils/modal/layouts/ok-dialog.tsx
Due: eslint, prettier

Standardize "OK" and "Are you sure" modals
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/InfoWidgetContentsPresentation.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/InfoWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/InfoWidgetModalPresentation.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/info.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/info/InfoWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/info/info.tsx
  GameDocumentEngine.Ui/src/utils/modal/layouts/are-you-sure-dialog.tsx
  GameDocumentEngine.Ui/src/utils/modal/layouts/ok-dialog.tsx
Due: eslint

Extract type for ModalLauncher function
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/addWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/delete-widget/deleteWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/info.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/add-widget/addWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/delete-widget/deleteWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/info/info.tsx
  GameDocumentEngine.Ui/src/utils/modal/layouts/are-you-sure-dialog.tsx
  GameDocumentEngine.Ui/src/utils/modal/layouts/ok-dialog.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal-service.tsx
Due: eslint

Improve reuse between dashboard/widget template
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/MoveResizeWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/WidgetSettingsForm.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/router.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/widget-settings.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/MoveResizeWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/WidgetTemplateEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/widget-settings.tsx
  GameDocumentEngine.Ui/src/documents/defaultMissingWidgetDefinition.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
  GameDocumentEngine.Ui/src/utils/api/hooks/types.ts
Due: eslint

Share "RenderWidget" with Dashboard
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardViewMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/RenderWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/WidgetTemplateEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/WidgetTemplateViewMode.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/info/info.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/useWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/widget-settings.tsx
Due: eslint

Use router for dashboard edit mode
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardViewMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/router.tsx
Due: eslint

Improve dashboard & widget template layout
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardViewMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.module.css
  GameDocumentEngine.Ui/src/doc-types/Dashboard/grid-utils.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/index.ts
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/WidgetTemplateEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/WidgetTemplateViewMode.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/display.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/index.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/router.tsx
Due: eslint

Initial pass at widget template instance
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/combat-stats.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/DashboardEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/WidgetSettingsForm.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/useWidgetSizes.ts
  GameDocumentEngine.Ui/src/doc-types/Folder/index.ts
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/index.ts
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/main/WidgetTemplateEditMode.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/widgets/display.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint

Add widget settings to "add widget" modal
  GameDocumentEngine.Ui/src/doc-types/Dashboard/WidgetSettingsForm.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModalPresentation.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/NewWidgetResult.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/SelectWidgetTypeField.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/WidgetName.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/addWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/useWidgetSettings.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/widget-settings.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/SelectDocumentByType.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/select-preview-item.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/widget-settings.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/widgets/display.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
  GameDocumentEngine.Ui/src/utils/modal/modal-service.tsx
  GameDocumentEngine.Ui/src/utils/noop.ts
Due: eslint, prettier

Improve types
  GameDocumentEngine.Ui/src/doc-types/Dashboard/WidgetSettingsForm.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/useWidgetSettings.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint

Path conditions:
  eslint: any of: *.{cjs,mjs,js,jsx,ts,tsx} and ^GameDocumentEngine\.Ui/
  prettier: any of: *.json and ^GameDocumentEngine\.Ui/
  typecheck: any of: src/*.{ts,tsx} and ^GameDocumentEngine\.Ui/
