Repository mdekrey/GameDocumentEngine: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

lefthook.yml:

# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: true
  commands:
    eslint:
      root: "GameDocumentEngine.Ui/"
      glob: "*.{cjs,mjs,js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files} && npx prettier --write {staged_files} && git add {staged_files}
    prettier:
      root: "GameDocumentEngine.Ui/"
      glob: "*.json"
      run: npx prettier --write {staged_files} && git add {staged_files}
    typecheck:
      root: "GameDocumentEngine.Ui/"
      glob: "src/*.{ts,tsx}"
      run: npm run typecheck

Correct settings form behaviors
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/combat-stats.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/MoveResizeWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/WidgetSettingsForm.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/useWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/useWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/WidgetTemplate/widget-settings.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint

Fix updating docs
  GameDocumentEngine.Server/Api/Identifier.cs
  GameDocumentEngine.Server/Documents/EditableDocumentModel.cs
Due: none

Improve combat stats widget
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/combat-stats.tsx
Due: eslint

Initial stub for rich text document
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/doc-types/Dashboard/types.ts
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/document-type.json
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/index.ts
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/main.tsx
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/schema.json
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/types.ts
  GameDocumentEngine.Ui/src/editorjs.d.ts
  GameDocumentEngine.Ui/src/game-types/Break/game-type.json
  GameDocumentEngine.Ui/src/game-types/Clocks/game-type.json
  GameDocumentEngine.Ui/src/game-types/MouseGuard/game-type.json
  GameDocumentEngine.Ui/tsconfig.json
Due: eslint, prettier

Correct edit existing item forms
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-edit/document-edit.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-edit/game-edit.tsx
  GameDocumentEngine.Ui/src/apps/profile/profile.tsx
Due: eslint

Support new Widget Templates correctly
  GameDocumentEngine.Ui/src/doc-types/Dashboard/useWidgetSizes.ts
Due: eslint

Correct manifest usage for reused css modules
  GameDocumentEngine.Server/Documents/GameTypes.cs
Due: none

Remove console log
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/combat-stats.tsx
Due: eslint

Correct translations when changing doc types
  GameDocumentEngine.Ui/src/apps/documents/create-document/CreateDocumentDetails.tsx
Due: eslint

Implement initial editor.js field
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/DisplayEditorJS.tsx
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/EditorJSComponent.module.css
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/EditorJSComponent.tsx
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/EditorJSField.tsx
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/main.tsx
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/schema.json
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/types.ts
Due: eslint, prettier

Move rich text components
  GameDocumentEngine.Ui/src/components/rich-text/DisplayRichText.tsx
  GameDocumentEngine.Ui/src/components/rich-text/EditorJSComponent.module.css
  GameDocumentEngine.Ui/src/components/rich-text/EditorJSComponent.tsx
  GameDocumentEngine.Ui/src/components/rich-text/RichTextField.tsx
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/main.tsx
Due: eslint

Add upgrade path from strings to rich text
  GameDocumentEngine.Ui/src/components/rich-text/DisplayRichText.tsx
  GameDocumentEngine.Ui/src/components/rich-text/EditorJSComponent.module.css
  GameDocumentEngine.Ui/src/components/rich-text/EditorJSComponent.tsx
  GameDocumentEngine.Ui/src/components/rich-text/RichTextField.tsx
  GameDocumentEngine.Ui/src/components/rich-text/index.ts
  GameDocumentEngine.Ui/src/components/rich-text/mapping.ts
  GameDocumentEngine.Ui/src/components/rich-text/type.ts
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/index.ts
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/main.tsx
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/types.ts
  GameDocumentEngine.Ui/src/utils/i18n/rich-text-editor/en.json
Due: eslint, prettier

Ensure forms are left-aligned
  GameDocumentEngine.Ui/src/components/form-fields/fieldset/fieldset.tsx
Due: eslint

Convert Break Character description to rich text
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/identity.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/schema.json
Due: eslint, prettier

Ensure auto-focus in modal
  GameDocumentEngine.Ui/src/components/rich-text/RichTextField.tsx
Due: eslint

Initial implementation of MDXEditor
  GameDocumentEngine.Ui/src/components/rich-text/mdx/DisplayMdx.tsx
  GameDocumentEngine.Ui/src/components/rich-text/mdx/MdxField.tsx
  GameDocumentEngine.Ui/src/components/rich-text/mdx/allPlugins.tsx
  GameDocumentEngine.Ui/src/components/rich-text/mdx/lexicalTheme.ts
  GameDocumentEngine.Ui/src/components/rich-text/mdx/mdx.module.css
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/main.tsx
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/schema.json
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/types.ts
Due: eslint, prettier

Switch to pnpm
  .github/workflows/parts/cache/action.yaml
  .github/workflows/run-tests.yaml
  .github/workflows/ui-lint.yaml
  .npmrc
  .nvmrc
  Dockerfile
  GameDocumentEngine.Server/Program.cs
  GameDocumentEngine.Ui/GameDocumentEngine.Ui.esproj
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  eng/npm.targets
  eng/pnpm.targets
  eng/pnpm/pnpm-install.esproj
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Correct command paths
  GameDocumentEngine.Ui/GameDocumentEngine.Ui.esproj
Due: none

Further build improvements
  .github/workflows/ui-lint.yaml
  GameDocumentEngine.Ui/GameDocumentEngine.Ui.esproj
Due: none

Specify node version
  .npmrc
Due: none

Improve pnpm cache
  .github/workflows/parts/cache/action.yaml
Due: none

Standardize github actions tools setup
  .github/workflows/dotnet-lint.yaml
  .github/workflows/parts/cache/action.yaml
  .github/workflows/run-tests.yaml
  .github/workflows/ui-lint.yaml
Due: none

Correct docker build
  Dockerfile
Due: none

Add MDXEditor properly
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/components/rich-text/mdx/DisplayMdx.tsx
  GameDocumentEngine.Ui/src/components/rich-text/mdx/allPlugins.tsx
  GameDocumentEngine.Ui/src/components/rich-text/mdx/lexicalTheme.ts
  GameDocumentEngine.Ui/src/components/rich-text/mdx/mdx.module.css
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/main.tsx
  package.json
  patches/@mdxeditor__editor@2.3.5.patch
  pnpm-lock.yaml
Due: eslint, prettier

Remove editorjs
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/components/rich-text/DisplayMdx.tsx
  GameDocumentEngine.Ui/src/components/rich-text/DisplayRichText.tsx
  GameDocumentEngine.Ui/src/components/rich-text/EditorJSComponent.module.css
  GameDocumentEngine.Ui/src/components/rich-text/EditorJSComponent.tsx
  GameDocumentEngine.Ui/src/components/rich-text/MdxField.tsx
  GameDocumentEngine.Ui/src/components/rich-text/RichTextField.tsx
  GameDocumentEngine.Ui/src/components/rich-text/allPlugins.tsx
  GameDocumentEngine.Ui/src/components/rich-text/index.ts
  GameDocumentEngine.Ui/src/components/rich-text/lexicalTheme.ts
  GameDocumentEngine.Ui/src/components/rich-text/mapping.ts
  GameDocumentEngine.Ui/src/components/rich-text/mdx.module.css
  GameDocumentEngine.Ui/src/components/rich-text/type.ts
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/main.tsx
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/schema.json
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/types.ts
  pnpm-lock.yaml
Due: eslint, prettier

Improve markdown editor updating
  GameDocumentEngine.Ui/src/components/rich-text/MdxField.tsx
Due: eslint

Standardize RichText editor
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/main.tsx
Due: eslint

Use custom toolbar
  GameDocumentEngine.Ui/src/components/rich-text/allPlugins.tsx
  GameDocumentEngine.Ui/src/components/rich-text/toolbar.tsx
Due: eslint

Rename to match previous RichTextField
  GameDocumentEngine.Ui/src/components/rich-text/DisplayRichText.tsx
  GameDocumentEngine.Ui/src/components/rich-text/RichTextField.tsx
  GameDocumentEngine.Ui/src/components/rich-text/index.ts
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/main.tsx
Due: eslint

Include patches in dockerfile when installing
  Dockerfile
  patches/.gitkeep
Due: none

Correct/improve diff tool
  GameDocumentEngine.Ui/src/components/rich-text/RichTextField.tsx
  GameDocumentEngine.Ui/src/components/rich-text/allPlugins.tsx
Due: eslint

Improve RichText styles
  .vscode/settings.json
  GameDocumentEngine.Ui/src/components/rich-text/RichTextField.tsx
  GameDocumentEngine.Ui/src/components/rich-text/lexicalTheme.ts
  GameDocumentEngine.Ui/src/components/rich-text/mdx.module.css
Due: eslint

Add a widget to display MDX contents
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/index.ts
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/widgets/display-contents/index.tsx
Due: eslint

Add reading mode for rich text document
  GameDocumentEngine.Ui/src/components/rich-text/RichTextField.tsx
  GameDocumentEngine.Ui/src/doc-types/Rich-Text/main.tsx
Due: eslint

Add image plugin so syntax doesn't crash
  GameDocumentEngine.Ui/src/components/rich-text/allPlugins.tsx
Due: eslint

Add some accessibilty to modals
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/components/layout/layout.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal-service.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal.stories.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal.tsx
  pnpm-lock.yaml
Due: eslint, prettier

Add `inert` when modals are open
  GameDocumentEngine.Ui/src/components/layout/layout.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal-service.tsx
Due: eslint

Add escape-to-cancel modals
  GameDocumentEngine.Ui/src/utils/modal/modal-service.tsx
Due: eslint

Begin presentational layout components
  GameDocumentEngine.Ui/src/components/layout/layout.tsx
Due: eslint

Fix storybook with pnpm
  .npmrc
  GameDocumentEngine.Ui/src/components/template/index.ts
Due: eslint
