Repository mdekrey/GameDocumentEngine: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

lefthook.yml:

# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: true
  commands:
    eslint:
      root: "GameDocumentEngine.Ui/"
      glob: "*.{cjs,mjs,js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files} && npx prettier --write {staged_files} && git add {staged_files}
    prettier:
      root: "GameDocumentEngine.Ui/"
      glob: "*.json"
      run: npx prettier --write {staged_files} && git add {staged_files}
    typecheck:
      root: "GameDocumentEngine.Ui/"
      glob: "src/*.{ts,tsx}"
      run: npm run typecheck

Correct some out-of-date TODO notes
  GameDocumentEngine.Server/Json/FilterExtensions.cs
  future-notes.md
  schemas/api.yaml
Due: none

Fix games with no documents
  GameDocumentEngine.Server/Documents/DocumentController.cs
Due: none

Correct translation handling for Create screens
  GameDocumentEngine.Server/Documents/GameTypeApiMapper.cs
  GameDocumentEngine.Server/Documents/GameTypesController.cs
  GameDocumentEngine.Server/Localization/LocalizationController.cs
  GameDocumentEngine.Server/Localization/Namespaces.cs
  GameDocumentEngine.Ui/src/apps/create-game/create-game.tsx
  GameDocumentEngine.Ui/src/doc-types/Clock/index.ts
  GameDocumentEngine.Ui/src/doc-types/Folder/index.ts
  GameDocumentEngine.Ui/src/doc-types/MouseGuard-Character/index.ts
  GameDocumentEngine.Ui/src/doc-types/MouseGuard-Conflict/index.ts
  GameDocumentEngine.Ui/src/doc-types/MouseGuard-Conflict/parts/ReviewRevealed.tsx
  GameDocumentEngine.Ui/src/doc-types/MouseGuard-Conflict/parts/general-display.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
  GameDocumentEngine.Ui/src/utils/api/queries/game-types.ts
  GameDocumentEngine.Ui/src/utils/api/queries/games.ts
  GameDocumentEngine.Ui/src/utils/i18n/setup.ts
  schemas/api.yaml
Due: eslint

De-duplicate delete game notifications
  GameDocumentEngine.Server/Data/HubNotifyingInterceptor.cs
Due: none

Improve disabled/readonly mapped types
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/create-invite.tsx
  GameDocumentEngine.Ui/src/utils/form/field-config-types.ts
  GameDocumentEngine.Ui/src/utils/form/fieldStateTracking.ts
  GameDocumentEngine.Ui/src/utils/form/toInternalFieldAtom.ts
  GameDocumentEngine.Ui/src/utils/form/useField.ts
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
Due: eslint

Stub out single-field hook for testing
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/create-invite.tsx
  GameDocumentEngine.Ui/src/utils/form/field-config-types.ts
  GameDocumentEngine.Ui/src/utils/form/useFormFields.ts
Due: eslint

Prove 'useFormField' has better typings
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/create-invite.tsx
  GameDocumentEngine.Ui/src/utils/form/field-config-types.ts
  GameDocumentEngine.Ui/src/utils/form/path.ts
  GameDocumentEngine.Ui/src/utils/form/toInternalFieldAtom.ts
  GameDocumentEngine.Ui/src/utils/form/useField.ts
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
  GameDocumentEngine.Ui/src/utils/form/useFormFields.ts
Due: eslint

Fix TypeScript errors
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/number-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/textarea-input/textarea-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/toggle-button/toggle-button-field.stories.tsx
  GameDocumentEngine.Ui/src/doc-types/MouseGuard-Conflict/parts/ManageSide.tsx
  GameDocumentEngine.Ui/src/utils/form/getAtomForPath.ts
Due: eslint

Improve typings
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/create-invite.tsx
  GameDocumentEngine.Ui/src/utils/form/field-config-types.ts
  GameDocumentEngine.Ui/src/utils/form/toInternalFieldAtom.ts
  GameDocumentEngine.Ui/src/utils/form/useField.ts
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
  GameDocumentEngine.Ui/src/utils/form/useFormFields.ts
Due: eslint

Add migrations as init container
  .github/workflows/deploy-main.yaml
  GameDocumentEngine.Server/Program.cs
  GameDocumentEngine.Server/Properties/launchSettings.json
  eng/deployment/values.prod.yaml
Due: none

Add drag/drop capabilities for organizing folers
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  GameDocumentEngine.Ui/src/utils/api/queries/document.ts
  GameDocumentEngine.Ui/src/utils/api/queries/index.ts
Due: eslint

Correct object expansion since type uses getters
  GameDocumentEngine.Ui/src/utils/form/field-config-types.ts
  GameDocumentEngine.Ui/src/utils/form/useField.ts
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
Due: eslint

Improve role selection
  GameDocumentEngine.Server/Documents/JsonGameObjectType.cs
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment-field.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment.tsx
  GameDocumentEngine.Ui/src/doc-types/Clock/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Folder/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/MouseGuard-Character/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/MouseGuard-Conflict/i18n/en.json
  GameDocumentEngine.Ui/src/utils/i18n/en.json
Due: eslint, prettier

Improve translations for roles
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment-field.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment.tsx
  GameDocumentEngine.Ui/src/doc-types/Clock/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Folder/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/MouseGuard-Character/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/MouseGuard-Conflict/i18n/en.json
  GameDocumentEngine.Ui/src/game-types/Clocks/i18n/en.json
  GameDocumentEngine.Ui/src/game-types/MouseGuard/i18n/en.json
Due: eslint, prettier

Improve type and docs on useField
  GameDocumentEngine.Ui/src/components/form-fields/text-input/number-field.stories.tsx
  GameDocumentEngine.Ui/src/utils/form/internals/useFieldHelpers.ts
  GameDocumentEngine.Ui/src/utils/form/useField.ts
Due: eslint

Remove extraneous log
  GameDocumentEngine.Ui/src/stories/tailwind/info.ts
Due: eslint

Enable patches for immer in storybook
  GameDocumentEngine.Ui/.storybook/preview.ts
Due: eslint

Add initial form demo files
  GameDocumentEngine.Ui/src/components/form-fields/demo/FormDemo.tsx
  GameDocumentEngine.Ui/src/components/form-fields/demo/demo.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/demo/en.json
Due: eslint, prettier

Updates from the demo with the team
  GameDocumentEngine.Ui/src/components/form-fields/demo/FormDemo.tsx
  GameDocumentEngine.Ui/src/components/form-fields/demo/demo.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/demo/en.json
Due: eslint, prettier

Remove unneeded extension
  .vscode/extensions.json
Due: none

Refactor and comment modal service
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/game-danger-zone.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/game-invites.tsx
  GameDocumentEngine.Ui/src/components/network/network-indicator.tsx
  GameDocumentEngine.Ui/src/doc-types/MouseGuard-Conflict/parts/ReviewRevealed.tsx
  GameDocumentEngine.Ui/src/utils/modal/modal-service.tsx
Due: eslint

Reorganize and correct role translations
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment-field.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment.tsx
  GameDocumentEngine.Ui/src/doc-types/Clock/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Folder/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/MouseGuard-Character/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/MouseGuard-Conflict/i18n/en.json
  GameDocumentEngine.Ui/src/game-types/Clocks/i18n/en.json
  GameDocumentEngine.Ui/src/game-types/MouseGuard/i18n/en.json
Due: eslint, prettier

Handle folders with spaces
  GameDocumentEngine.DevProxy/NodeScriptRunner.cs
Due: none

Use latest forms package
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/tsconfig.json
Due: prettier

Remove invalid launch settings
  GameDocumentEngine.Server/Properties/launchSettings.json
Due: none

Correct tsconfig settings (reverting)
  GameDocumentEngine.Ui/tsconfig.json
Due: prettier

Stub out Break RPG character
  GameDocumentEngine.Ui/src/doc-types/Break-Character/character-sheet.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/character-types.ts
  GameDocumentEngine.Ui/src/doc-types/Break-Character/document-type.json
  GameDocumentEngine.Ui/src/doc-types/Break-Character/fixupCharacter.ts
  GameDocumentEngine.Ui/src/doc-types/Break-Character/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Break-Character/index.ts
  GameDocumentEngine.Ui/src/doc-types/Break-Character/schema.json
  GameDocumentEngine.Ui/src/game-types/Break/game-type.json
  GameDocumentEngine.Ui/src/game-types/Break/i18n/en.json
Due: eslint, prettier

Initial setup of Break character sheet
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-input.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/character-sheet.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/index.ts
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/BasicList.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/abilities.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/aptitudes.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat-values.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/atoms.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/attack.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/defense.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/hearts.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/speed.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/gear.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/identity.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/social.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/useFieldList.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/schema.json
Due: eslint, prettier

Improve list support
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/BasicList.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/abilities.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/gear.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/useFieldList.tsx
Due: eslint, prettier

Add character sheet translations
  GameDocumentEngine.Ui/src/doc-types/Break-Character/character-sheet.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/gear.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/identity.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/useFieldList.tsx
Due: eslint, prettier

Add missing fields
  GameDocumentEngine.Ui/src/doc-types/Break-Character/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/attack.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/hearts.tsx
Due: eslint, prettier

Add abilities layout
  GameDocumentEngine.Ui/src/doc-types/Break-Character/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/abilities.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/ability.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/aptitude.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/aptitudes.tsx
  GameDocumentEngine.Ui/tailwind.config.ts
Due: eslint, prettier

Add layout to weapon list
  GameDocumentEngine.Ui/src/doc-types/Break-Character/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/abilities.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/attack.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/attack.tsx
Due: eslint, prettier

Correct dependency
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
Due: prettier

Add missing fields
  GameDocumentEngine.Ui/src/doc-types/Break-Character/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/abilities.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/combat/defense.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/gear.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/identity.tsx
Due: eslint, prettier

Add missing label
  GameDocumentEngine.Ui/src/doc-types/Break-Character/i18n/en.json
Due: prettier

Add Version and more Options objects
  GameDocumentEngine.Server/Data/DocumentDbContext.cs
  GameDocumentEngine.Server/Data/IOperationalTransformed.cs
  GameDocumentEngine.Server/Data/VersioningInterceptor.cs
  GameDocumentEngine.Server/Documents/DocumentModel.cs
  GameDocumentEngine.Server/Documents/DocumentUserModel.cs
  GameDocumentEngine.Server/Documents/GameModel.cs
  GameDocumentEngine.Server/Documents/GameUserModel.cs
  GameDocumentEngine.Server/Migrations/20231121135956_VersionAndOptions.Designer.cs
  GameDocumentEngine.Server/Migrations/20231121135956_VersionAndOptions.cs
  GameDocumentEngine.Server/Program.cs
  GameDocumentEngine.Server/Users/UserModel.cs
Due: none
