Repository mdekrey/GameDocumentEngine: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  run: npx eslint --fix {staged_files} && npx prettier --write {staged_files} && git add {staged_files}

prettier:
  run: npx prettier --write {staged_files} && git add {staged_files}

typecheck:
  run: npm run typecheck

Correct game-settings button display
  GameDocumentEngine.Ui/src/apps/game-settings/game-settings.tsx
Due: eslint

Remove console.log
  GameDocumentEngine.Ui/src/documents/mouseguard-character/character-sheet.tsx
Due: eslint

Correct modal theme
  GameDocumentEngine.Ui/src/utils/modal/modal.tsx
Due: eslint

Inline clock form
  GameDocumentEngine.Ui/src/documents/clock/clock-widget.tsx
  GameDocumentEngine.Ui/src/documents/clock/en.json
Due: eslint, prettier

Standardize form and update clock
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/documents/clock/clock-edit.tsx
  GameDocumentEngine.Ui/src/documents/clock/clock-widget.tsx
  GameDocumentEngine.Ui/src/documents/clock/en.json
  GameDocumentEngine.Ui/src/documents/clock/index.ts
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
  GameDocumentEngine.Ui/src/documents/get-document-pointers.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-character/character-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/en.json
  GameDocumentEngine.Ui/src/documents/mouseguard-character/index.ts
  GameDocumentEngine.Ui/src/documents/toReadOnlyFields.tsx
  GameDocumentEngine.Ui/src/utils/api/queries/game-types.ts
Due: eslint, prettier

Update document readonly fields on change
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
Due: eslint

Correct character sheet translations
  GameDocumentEngine.Ui/src/documents/mouseguard-character/en.json
Due: prettier

First pass at adding conflict game object
  GameDocumentEngine.Server/Documents/IGameObjectType.cs
  GameDocumentEngine.Server/Documents/JsonGameObjectType.cs
  GameDocumentEngine.Server/Documents/Types/MouseGuard-Conflict/document-type.json
  GameDocumentEngine.Server/GameTypes/MouseGuard/MouseGuardGameType.cs
  GameDocumentEngine.Ui/src/documents/clock/clock-widget.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-character/character-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/conflict-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/conflict-types.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/en.json
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/fixupConflict.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/index.ts
  GameDocumentEngine.Ui/src/documents/useSubmitOnChange.tsx
  schemas/documents/MouseGuard-Conflict.json
Due: eslint, prettier

Improve conflict type structure
  GameDocumentEngine.Server/Documents/Types/MouseGuard-Conflict/document-type.json
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/index.ts
  schemas/documents/MouseGuard-Conflict.json
Due: eslint

Implement organizer form
  GameDocumentEngine.Server/Documents/Types/MouseGuard-Conflict/document-type.json
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/conflict-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/conflict-types.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/en.json
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/index.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/general-display.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/organizer-form.tsx
  GameDocumentEngine.Ui/src/utils/form/createErrorsAtom.ts
  GameDocumentEngine.Ui/src/utils/form/fieldStateTracking.ts
  GameDocumentEngine.Ui/src/utils/form/getZodSchemaForPath.ts
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
  schemas/documents/MouseGuard-Conflict.json
Due: eslint, prettier

Remove console log
  GameDocumentEngine.Ui/src/utils/form/createErrorsAtom.ts
Due: eslint

Add disposition layout
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/conflict-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/en.json
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/SideSummary.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/disposition-horizontal.svg
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/disposition.svg
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/general-display.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/side-summary.module.css
Due: eslint, prettier

Add mouseguard assets via submodule
  .gitmodules
Due: none

Add cards to page to test submodule build
  .github/workflows/deploy-main.yaml
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/conflict-sheet.tsx
Due: eslint

Start adding manage side
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/ManageSide.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/conflict-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/conflict-types.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/en.json
Due: eslint, prettier

Add TODO note to stop manually calling blur
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/pass-fail.tsx
Due: eslint

Add more "manage side" capabilities
  GameDocumentEngine.Server/Documents/Types/MouseGuard-Conflict/document-type.json
  GameDocumentEngine.Ui/src/components/form-fields/toggle-button/toggle-button-field.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/ManageSide.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/en.json
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/SideSummary.tsx
Due: eslint, prettier

Improve name of field config type
  GameDocumentEngine.Ui/src/utils/form/field-config-types.ts
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
Due: eslint

Correct dark toggle on storybook mdx files
  GameDocumentEngine.Ui/.storybook/preview.ts
  GameDocumentEngine.Ui/src/stories/tailwind/fonts.tsx
Due: eslint

Allow override of readOnly and disabled at field
  GameDocumentEngine.Ui/src/components/form-fields/toggle-button/toggle-button-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/toggle-button/toggle-button-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/toggle-button/toggle-button.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/wises.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/ManageSide.tsx
  GameDocumentEngine.Ui/src/utils/form/field-config-types.ts
  GameDocumentEngine.Ui/src/utils/form/fieldStateTracking.ts
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
Due: eslint

Conditionally enable conflict fields
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/ManageSide.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/en.json
  GameDocumentEngine.Ui/src/utils/form/field-config-types.ts
  GameDocumentEngine.Ui/src/utils/form/toInternalFieldAtom.ts
  GameDocumentEngine.Ui/src/utils/form/useField.ts
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
Due: eslint, prettier

Correct and simplify types
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/wises.tsx
  GameDocumentEngine.Ui/src/utils/form/field-config-types.ts
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
Due: eslint

Automate reveal/clear of choices
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/conflict-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ManageSide.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ReadyWatcher.tsx
Due: eslint

Start debugging issue with Firefox service worker
  GameDocumentEngine.Ui/src/utils/api/realtime-api.ts
Due: eslint

Correct some general styling issues
  GameDocumentEngine.Ui/src/components/header/header.tsx
  GameDocumentEngine.Ui/src/components/layout/layout.module.css
  GameDocumentEngine.Ui/src/components/layout/layout.tsx
  GameDocumentEngine.Ui/src/components/menu-items/menu-items.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/disposition-horizontal.svg
Due: eslint

Improve card selection layout
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-field.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/CardSelect.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ManageSide.tsx
Due: eslint

Add overloads to fix build
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-field.tsx
Due: eslint

Support partial choices on MG conflicts
  GameDocumentEngine.Server.Tests/Json/JsonSchemaTests.cs
  GameDocumentEngine.Server/GameDocumentEngine.Server.csproj
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/conflict-types.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/CardSelect.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ReadyWatcher.tsx
  schemas/documents/MouseGuard-Conflict.json
Due: eslint

Improve schema error messaging
  GameDocumentEngine.Server/Documents/DocumentController.cs
  GameDocumentEngine.Server/Json/SchemaExtensions.cs
  schemas/documents/MouseGuard-Conflict.json
Due: none

Remove old TODO note
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ReadyWatcher.tsx
Due: eslint

Allow reviewing revealed
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/conflict-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/en.json
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/CardSelect.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ManageSide.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ReadyWatcher.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ReviewRevealed.tsx
Due: eslint, prettier

Allow observers to view revealed choices
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/conflict-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ReviewRevealed.tsx
Due: eslint

Correct table use in revealed conflict data
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ReviewRevealed.tsx
Due: eslint

Prevent component reuse when changing page params
  GameDocumentEngine.Ui/src/App.tsx
Due: eslint

Remove simple TODO notes
  GameDocumentEngine.Ui/src/apps/game-details/game-subheader.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/fixupConflict.tsx
Due: eslint

Update UI packages
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/parts/ReviewRevealed.tsx
  GameDocumentEngine.Ui/src/utils/form/useField.ts
Due: eslint, prettier

Use more specific eslint-disable rule
  GameDocumentEngine.Ui/src/components/template/index.ts
Due: eslint

Remove mapping at React Component level
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/components/form-fields/MappedFieldProps.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/textarea-input/textarea-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/textarea-input/textarea-field.tsx
  GameDocumentEngine.Ui/src/documents/useSubmitOnChange.tsx
  GameDocumentEngine.Ui/src/utils/form/field-config-types.ts
  GameDocumentEngine.Ui/src/utils/form/toInternalFieldAtom.ts
  GameDocumentEngine.Ui/src/utils/form/useField.ts
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
Due: eslint, prettier

Add missing translation
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/en.json
Due: prettier

Ensure schemas allow partial
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-conflict/index.ts
Due: eslint

Path conditions:
  eslint: any of: *.{cjs,mjs,js,jsx,ts,tsx} and ^GameDocumentEngine\.Ui/
  prettier: any of: *.json and ^GameDocumentEngine\.Ui/
  typecheck: any of: src/*.{ts,tsx} and ^GameDocumentEngine\.Ui/
