Repository mdekrey/GameDocumentEngine: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

lefthook.yml:

# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: true
  commands:
    eslint:
      root: "GameDocumentEngine.Ui/"
      glob: "*.{cjs,mjs,js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files} && npx prettier --write {staged_files} && git add {staged_files}
    prettier:
      root: "GameDocumentEngine.Ui/"
      glob: "*.json"
      run: npx prettier --write {staged_files} && git add {staged_files}
    typecheck:
      root: "GameDocumentEngine.Ui/"
      glob: "src/*.{ts,tsx}"
      run: npm run typecheck

Improve gradient alignment
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/aptitudes.tsx
Due: eslint

Turn back on display for modifier border
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/aptitude.module.css
Due: none

Correct types
  GameDocumentEngine.Ui/src/components/tabs/tabs.stories.tsx
Due: eslint

Improve element template flexibility, correct CSS
  GameDocumentEngine.Ui/src/components/button/button.tsx
  GameDocumentEngine.Ui/src/components/button/buttonThemes.tsx
  GameDocumentEngine.Ui/src/components/button/icon-button.tsx
  GameDocumentEngine.Ui/src/components/button/icon-link-button.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/number-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-field.tsx
  GameDocumentEngine.Ui/src/components/template/index.ts
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/CircularNumberField.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/CircularNumberField.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/aptitude.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/aptitudes.tsx
Due: eslint

Create "No Widgets" dialog
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModalForm.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/NoWidgets.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/addWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Dashboard/schema.json
Due: eslint, prettier

Correct TS error
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
Due: eslint

Remove settings (future feature when needed)
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint

Add a basic widget to Break characters
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/index.ts
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/combat-stats.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint

Work-in-progress add-widget
  GameDocumentEngine.Ui/src/apps/documents/useGameType.ts
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModalForm.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/NamedIcon.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/NoWidgets.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/addWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/i18n/en.json
Due: eslint, prettier

Move decision data out of modal
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/addWidget.tsx
Due: eslint

Recombine modal and form
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModalForm.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/NoWidgets.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/addWidget.tsx
Due: eslint

Render widgets
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/grid-utils.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/MouseGuard-Conflict/conflict-sheet.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint, prettier

Separate files
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContents.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContentsProps.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
Due: eslint

Prepare for editing widget positions
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContents.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContentsProps.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
Due: eslint

Add library for resize
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContents.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContentsProps.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/grid-utils.tsx
Due: eslint, prettier

Move resize widget
  GameDocumentEngine.Ui/src/doc-types/Dashboard/MoveResizeWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
Due: eslint

Improve resize support
  GameDocumentEngine.Ui/src/doc-types/Dashboard/MoveResizeWidget.tsx
Due: eslint

Support removing widgets
  GameDocumentEngine.Ui/src/components/button/button.tsx
  GameDocumentEngine.Ui/src/components/named-icon/NamedIcon.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Dashboard/MoveResizeWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/NoWidgets.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/delete-widget/DeleteWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/delete-widget/deleteWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/i18n/en.json
Due: eslint, prettier

Correct dragging positions
  GameDocumentEngine.Ui/src/doc-types/Dashboard/MoveResizeWidget.tsx
Due: eslint

Edit mode toggle
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.module.css
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/grid-utils.tsx
Due: eslint

Correct lint issues
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
Due: eslint

Implement Combat Stats widget
  GameDocumentEngine.Ui/src/components/form-fields/field/field.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Break-Character/index.ts
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/combat-stats.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContents.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContentsProps.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint, prettier

Pass type info on to components
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/components/form-fields/field/field.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContents.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContentsProps.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint

Add generic Name component
  GameDocumentEngine.Ui/src/components/named-icon/named-icon-widget.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/index.ts
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContents.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContentsProps.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/i18n/en.json
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
  GameDocumentEngine.Ui/src/utils/i18n/widgets/name/en.json
  GameDocumentEngine.Ui/src/utils/modal/modal.tsx
Due: eslint, prettier

Stub widget info dialog
  GameDocumentEngine.Ui/src/doc-types/Dashboard/MoveResizeWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/InfoWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/info.tsx
Due: eslint, prettier

Add error screen options
  GameDocumentEngine.Ui/src/components/errors/ErrorScreen.tsx
  GameDocumentEngine.Ui/src/components/errors/NoAccess.tsx
  GameDocumentEngine.Ui/src/components/errors/index.ts
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/combat-stats.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/MoveResizeWidget.tsx
  GameDocumentEngine.Ui/src/utils/i18n/errors/no-access/en.json
Due: eslint, prettier

Add sizing component
  GameDocumentEngine.Ui/src/components/errors/ErrorScreen.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/combat-stats.tsx
Due: eslint

Adjust styles
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/combat-stats.tsx
Due: eslint

Minor refactor EditingWidgets
  GameDocumentEngine.Ui/src/doc-types/Dashboard/MoveResizeWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
Due: eslint

Minor style updates
  GameDocumentEngine.Ui/src/components/named-icon/NamedIcon.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
Due: eslint

Prevent dragging onto existing widgets
  GameDocumentEngine.Ui/src/components/drag-drop/framework.ts
  GameDocumentEngine.Ui/src/doc-types/Break-Character/index.ts
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/combat-stats.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
Due: eslint

Add Aptitudes widget
  GameDocumentEngine.Ui/src/doc-types/Break-Character/aptitude-colors.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Break-Character/index.ts
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/aptitude.module.css
  GameDocumentEngine.Ui/src/doc-types/Break-Character/parts/aptitudes.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/aptitude-stats.tsx
Due: eslint, prettier

Handle readonly dashboards
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/aptitude-stats.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
Due: eslint

Add clock widgets
  GameDocumentEngine.Ui/src/doc-types/Clock/clock-svg.tsx
  GameDocumentEngine.Ui/src/doc-types/Clock/clock-widget.tsx
  GameDocumentEngine.Ui/src/doc-types/Clock/index.ts
  GameDocumentEngine.Ui/src/doc-types/Clock/widgets/display.tsx
Due: eslint

Refactor widget definitions, add size constraints
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  GameDocumentEngine.Ui/src/components/named-icon/named-icon-widget.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/index.ts
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/aptitude-stats.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/combat-stats.tsx
  GameDocumentEngine.Ui/src/doc-types/Clock/i18n/en.json
  GameDocumentEngine.Ui/src/doc-types/Clock/index.ts
  GameDocumentEngine.Ui/src/doc-types/Clock/widgets/display.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/MoveResizeWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
  GameDocumentEngine.Ui/src/documents/defaultMissingWidgetDefinition.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint, prettier

Minor cleanup
  GameDocumentEngine.Ui/src/components/named-icon/NamedIcon.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/InfoWidgetModal.tsx
Due: eslint

Pass size to widget
  GameDocumentEngine.Ui/src/components/named-icon/named-icon-widget.tsx
  GameDocumentEngine.Ui/src/doc-types/Clock/clock-svg.tsx
  GameDocumentEngine.Ui/src/doc-types/Clock/widgets/display.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContents.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContentsProps.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint

Add settings for widgets
  GameDocumentEngine.Ui/src/components/named-icon/named-icon-widget.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/aptitude-stats.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/combat-stats.tsx
  GameDocumentEngine.Ui/src/doc-types/Clock/widgets/display.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/MoveResizeWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContents.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContentsProps.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/AddWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/add-widget/addWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/index.ts
  GameDocumentEngine.Ui/src/doc-types/Dashboard/schema.json
  GameDocumentEngine.Ui/src/documents/defaultMissingWidgetDefinition.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint, prettier

Pass widget settings to constraints
  GameDocumentEngine.Ui/src/doc-types/Dashboard/MoveResizeWidget.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint

WIP widget settings
  GameDocumentEngine.Ui/src/components/named-icon/named-icon-widget.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/aptitude-stats.tsx
  GameDocumentEngine.Ui/src/doc-types/Break-Character/widgets/combat-stats.tsx
  GameDocumentEngine.Ui/src/doc-types/Clock/widgets/display.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/MoveResizeWidget.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/RenderWidgetContentsProps.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/dashboard.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/InfoWidgetModal.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/info/info.tsx
  GameDocumentEngine.Ui/src/doc-types/Dashboard/types.ts
  GameDocumentEngine.Ui/src/doc-types/MouseGuard-Character/character-sheet.tsx
  GameDocumentEngine.Ui/src/documents/defaultMissingWidgetDefinition.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
Due: eslint
