Repository mdekrey/GameDocumentEngine: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

lefthook.yml:

# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: true
  commands:
    eslint:
      root: "GameDocumentEngine.Ui/"
      glob: "*.{cjs,mjs,js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files} && npx prettier --write {staged_files} && git add {staged_files}
    prettier:
      root: "GameDocumentEngine.Ui/"
      glob: "*.json"
      run: npx prettier --write {staged_files} && git add {staged_files}
    typecheck:
      root: "GameDocumentEngine.Ui/"
      glob: "src/*.{ts,tsx}"
      run: npm run typecheck

Revert some checkboxlist styles
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/CheckboxList.tsx
Due: eslint

Consolidate tabs
  GameDocumentEngine.Ui/src/documents/mouseguard-character/character-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/en.json
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/traits.tsx
Due: eslint, prettier

Consolidate roles and deletion of docs
  GameDocumentEngine.Ui/src/App.tsx
  GameDocumentEngine.Ui/src/apps/documents/details/doc-details.tsx
  GameDocumentEngine.Ui/src/apps/documents/document-roles/document-roles.tsx
  GameDocumentEngine.Ui/src/apps/documents/document-settings/delete-document-modal.tsx
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.module.css
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment.tsx
  GameDocumentEngine.Ui/src/documents/clock/clock-widget.tsx
  GameDocumentEngine.Ui/src/documents/defineDocument.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-character/character-sheet.tsx
  GameDocumentEngine.Ui/src/utils/i18n/en.json
Due: eslint, prettier

Refactor game details and sidebars
  GameDocumentEngine.Ui/src/App.tsx
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/apps/game-details/game-details.tsx
  GameDocumentEngine.Ui/src/apps/game-details/game-subheader.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/delete-game-modal.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-edit/game-edit.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/create-invite.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/delete-invite.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/game-invites.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-roles/game-roles.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-settings.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/remove-game-user-modal.tsx
  GameDocumentEngine.Ui/src/components/button/button.tsx
  GameDocumentEngine.Ui/src/components/header/header.tsx
  GameDocumentEngine.Ui/src/components/layout/layout.module.css
  GameDocumentEngine.Ui/src/components/layout/layout.tsx
  GameDocumentEngine.Ui/src/components/template/index.ts
  GameDocumentEngine.Ui/src/utils/i18n/en.json
Due: eslint, prettier

Improve main pages presentation
  GameDocumentEngine.Ui/src/apps/game-settings/game-settings.tsx
  GameDocumentEngine.Ui/src/apps/list-games/list-games.tsx
  GameDocumentEngine.Ui/src/apps/profile/profile.tsx
  GameDocumentEngine.Ui/src/components/sections/index.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/character-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/en.json
Due: eslint, prettier

Ensure hub reconnects and notifies
  GameDocumentEngine.Ui/src/utils/api/realtime-api.ts
Due: eslint

Fix routing warnings
  GameDocumentEngine.Ui/src/App.tsx
Due: eslint

Remove console.logs
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/game-invites.tsx
Due: eslint

Add game-details page instructions
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/apps/game-details/arrow.svg
  GameDocumentEngine.Ui/src/apps/game-details/game-details.tsx
  GameDocumentEngine.Ui/src/components/text/common.tsx
  GameDocumentEngine.Ui/src/utils/i18n/en.json
  GameDocumentEngine.Ui/src/utils/useResizeDetector.ts
  GameDocumentEngine.Ui/tailwind.config.ts
  GameDocumentEngine.Ui/tsconfig.json
  GameDocumentEngine.Ui/vite.config.ts
Due: eslint, prettier

Remove duplicate subheader on large screens
  GameDocumentEngine.Ui/src/components/layout/layout.tsx
Due: eslint

Use translatable header for sidebar
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  GameDocumentEngine.Ui/src/utils/i18n/en.json
Due: eslint, prettier

Correct sidebar/subheader display
  GameDocumentEngine.Ui/src/App.tsx
  GameDocumentEngine.Ui/src/components/layout/layout.tsx
Due: eslint

Use google font for handwriting
  GameDocumentEngine.Ui/index.html
  GameDocumentEngine.Ui/src/components/text/common.tsx
  GameDocumentEngine.Ui/src/main.css
  GameDocumentEngine.Ui/tailwind.config.ts
Due: eslint

Improve layout on tiniest screens
  GameDocumentEngine.Ui/src/apps/game-details/game-details.tsx
Due: eslint

Improve extra-small screen support
  GameDocumentEngine.Ui/src/apps/game-details/game-details.tsx
Due: eslint

Remove overflow:hidden to allow mobile refresh
  GameDocumentEngine.Ui/index.html
Due: none

Update permission model to run through game type
  GameDocumentEngine.Server/Documents/GameController.cs
  GameDocumentEngine.Server/Documents/GameModelChangeNotifications.cs
  GameDocumentEngine.Server/Documents/GamePermissionSetResolver.cs
  GameDocumentEngine.Server/Documents/GameSecurity.cs
  GameDocumentEngine.Server/Documents/GameTypeApiMapper.cs
  GameDocumentEngine.Server/Documents/IGameType.cs
  GameDocumentEngine.Server/Security/InvitationController.cs
Due: none

Rename "permissions" in API to "userRoles"
  GameDocumentEngine.Server/Documents/DocumentModelApiMapper.cs
  GameDocumentEngine.Server/Documents/GameModelApiMapper.cs
  GameDocumentEngine.Ui/src/App.tsx
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-roles/game-roles.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment.tsx
  schemas/api.yaml
Due: eslint

Send user's permissions over API
  GameDocumentEngine.Server/Documents/DocumentModelApiMapper.cs
  GameDocumentEngine.Server/Documents/DocumentModelChangeNotifications.cs
  GameDocumentEngine.Server/Documents/GameModelApiMapper.cs
  GameDocumentEngine.Server/Documents/GamePermissionSetResolver.cs
  schemas/api.yaml
Due: none

Add special command to force reconnect
  GameDocumentEngine.Ui/src/service-worker/messages.ts
  GameDocumentEngine.Ui/src/vtt-sw.ts
Due: eslint

Add document subheader
  GameDocumentEngine.Ui/src/App.tsx
  GameDocumentEngine.Ui/src/apps/documents/subheader/document-subheader.tsx
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.module.css
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  GameDocumentEngine.Ui/src/apps/game-details/game-subheader.tsx
  GameDocumentEngine.Ui/src/utils/i18n/en.json
Due: eslint, prettier

Add `readOnly` flags for standard fields
  GameDocumentEngine.Ui/src/components/form-fields/checkbox-input/checkbox-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/checkbox-input/checkbox-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/checkbox-input/checkbox-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/number-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/toggle-button/toggle-button-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/toggle-button/toggle-button-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/toggle-button/toggle-button.tsx
Due: eslint

Initial pass at filtering for read-only users
  GameDocumentEngine.Ui/package-lock.json
  GameDocumentEngine.Ui/package.json
  GameDocumentEngine.Ui/src/components/form-fields/textarea-input/textarea-field.tsx
  GameDocumentEngine.Ui/src/documents/get-document-pointers.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-character/character-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/ability-layout.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/nature-ability.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/pass-fail.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/standard-ability.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/fixupCharacter.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/abilities.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/bio.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/conditions.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/notes.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/personality.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/rewards.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/skills.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/traits.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/wises.tsx
  GameDocumentEngine.Ui/src/utils/security/get-permissions-params.ts
  GameDocumentEngine.Ui/src/utils/security/match-permission.ts
  GameDocumentEngine.Ui/src/utils/security/permission-strings.ts
  GameDocumentEngine.Ui/src/utils/security/to-permission-pattern-regex.ts
Due: eslint, prettier

Add readOnly and disabled support to forms
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/create-invite.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/select-input/select-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/number-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-input.tsx
  GameDocumentEngine.Ui/src/components/form-fields/textarea-input/textarea-field.stories.tsx
  GameDocumentEngine.Ui/src/components/form-fields/textarea-input/textarea-field.tsx
  GameDocumentEngine.Ui/src/components/jotai/input.ts
  GameDocumentEngine.Ui/src/components/jotai/textarea.ts
  GameDocumentEngine.Ui/src/documents/get-document-pointers.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-character/character-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/ability-layout.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/nature-ability.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/pass-fail.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/components/standard-ability.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/abilities.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/bio.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/conditions.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/notes.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/personality.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/rewards.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/skills.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/traits.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/parts/wises.tsx
  GameDocumentEngine.Ui/src/documents/toReadOnlyFields.tsx
  GameDocumentEngine.Ui/src/utils/form/field-config-types.ts
  GameDocumentEngine.Ui/src/utils/form/fieldStateTracking.ts
  GameDocumentEngine.Ui/src/utils/form/toInternalFieldAtom.ts
  GameDocumentEngine.Ui/src/utils/form/useField.ts
  GameDocumentEngine.Ui/src/utils/form/useForm.ts
  GameDocumentEngine.Ui/src/utils/form/useFormFields.ts
Due: eslint

Correct reconnecting
  GameDocumentEngine.Ui/src/vtt-sw.ts
Due: eslint

Tweak label font size
  GameDocumentEngine.Ui/src/components/form-fields/field/field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/text-input/text-field.tsx
  GameDocumentEngine.Ui/src/components/form-fields/textarea-input/textarea-field.tsx
Due: eslint

Keep user id in sync between SW and browser
  GameDocumentEngine.Server/Realtime/GameDocumentsHub.cs
  GameDocumentEngine.Ui/src/apps/profile/profile.tsx
  GameDocumentEngine.Ui/src/components/header/useHeaderMenuItems.tsx
  GameDocumentEngine.Ui/src/service-worker/messages.ts
  GameDocumentEngine.Ui/src/utils/api/handleEntityChanged.tsx
  GameDocumentEngine.Ui/src/utils/api/queries/user.ts
  GameDocumentEngine.Ui/src/utils/api/realtime-api.ts
  GameDocumentEngine.Ui/src/utils/api/realtime.signalr.ts
  GameDocumentEngine.Ui/src/vtt-sw.ts
Due: eslint

Improve create-game presentation
  GameDocumentEngine.Ui/src/apps/create-game/create-game.tsx
Due: eslint

Begin checking permissions on game forms
  GameDocumentEngine.Ui/src/apps/game-settings/game-edit/game-edit.tsx
  GameDocumentEngine.Ui/src/utils/security/match-permission.ts
  GameDocumentEngine.Ui/src/utils/security/permission-strings.ts
  GameDocumentEngine.Ui/src/utils/security/to-permission-pattern-regex.ts
Due: eslint

Filter UI based on permissions
  GameDocumentEngine.Server/Documents/GameSecurity.cs
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/delete-game-modal.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/game-danger-zone.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/remove-game-user-modal.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-roles/game-roles.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-settings.tsx
Due: eslint

Filter role assignment based on permissions
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-roles/game-roles.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment.tsx
Due: eslint

Hide removing self from game
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/game-danger-zone.tsx
Due: eslint

Filter game "danger zone" options
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/game-danger-zone.tsx
Due: eslint

Standardize permission checks
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/apps/game-details/game-objects.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-danger-zone/game-danger-zone.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-edit/game-edit.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-roles/game-roles.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-settings.tsx
  GameDocumentEngine.Ui/src/utils/security/match-permission.ts
Due: eslint

Fully permissions through standard UI
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/apps/documents/subheader/document-subheader.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/create-invite.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-invites/game-invites.tsx
Due: eslint

Hide game settings for users without permission
  GameDocumentEngine.Ui/src/apps/game-details/game-subheader.tsx
  GameDocumentEngine.Ui/src/apps/game-settings/game-settings.tsx
Due: eslint

Fix "CreateInvitation" operation
  GameDocumentEngine.Server/Security/InvitationController.cs
Due: none

Add permission for changing own role
  GameDocumentEngine.Server/Documents/DocumentController.cs
  GameDocumentEngine.Server/Documents/GameSecurity.cs
  GameDocumentEngine.Server/Documents/IGameType.cs
  GameDocumentEngine.Server/Documents/Types/MouseGuard-Character/document-type.json
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
  GameDocumentEngine.Ui/src/apps/documents/subheader/document-subheader.tsx
  GameDocumentEngine.Ui/src/components/forms/role-assignment/role-assignment.tsx
  GameDocumentEngine.Ui/src/documents/get-document-pointers.ts
  GameDocumentEngine.Ui/src/documents/mouseguard-character/character-sheet.tsx
  GameDocumentEngine.Ui/src/documents/mouseguard-character/fixupCharacter.tsx
  GameDocumentEngine.Ui/src/utils/security/match-permission.ts
  GameDocumentEngine.Ui/src/utils/security/permission-strings.ts
Due: eslint

Improve create document layout
  GameDocumentEngine.Ui/src/apps/documents/create-document/create-document.tsx
Due: eslint

Remove console.log
  GameDocumentEngine.Ui/src/apps/documents/document-settings/document-settings.tsx
Due: eslint
